.buy-check{
    margin: 0 18px;
}
.buy-radio{
    margin: 0 16px;
}
.label-check-buy,
.label-radio-buy{
    position: relative;
    padding-right: 29px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.label-check-buy:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #1062AA;
    border-radius: 3px;
}
input[type="checkbox"]:checked + .label-check-buy:after,
input[type="radio"]:checked + .label-check-buy:after{
    background: #1062AA url('../img/buy/checkmark.svg') center center no-repeat;
}
.label-radio-buy:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #1062AA;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.label-radio-buy:before{
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: transparent;
}
input[type="radio"]:checked + .label-radio-buy:before{
    background-color: #F7B916;
}
/*Header Buy*/
.header-buy{
    padding: 40px 0;
}
.header-buy__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-buy-navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-buy-navigation__link{
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #81859C;
    border-bottom: 1px solid #81859C;
}
.header-buy-navigation__link:hover,
.header-buy-navigation__link_active{
    color: #1062AA;
    border-bottom: 1px solid #F7B916;
}
.header-buy-navigation__link svg{
    display: block;
    fill: #81859C;
}
.header-buy-navigation__link_active svg,
.header-buy-navigation__link:hover svg{
    fill: #1062AA;
}
.header-buy-navigation__link:first-child{
    padding-right: 15px;
}
.header-buy-navigation__link:last-child{
    padding-left: 15px;
    text-align: right;
}
.header-buy-cart{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
}
.header-buy-cart__icon{
    position: relative;
    margin-right: 7px;
}
.header-buy-cart__value{
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 16px;
    line-height: 19px;
    color: inherit;
}
.header-buy-action{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #333333;
}
.header-buy-action__text{
    margin-left: 16px;
}
/*Footer Buy*/
.footer-buy{
    margin-top: auto;
    padding: 45px 0 32px 0;
    background-color: #1062AA;
}
.footer-buy__top,
.footer-buy__bottom{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.footer-buy__top{
    padding-bottom: 45px;
    border-bottom: 1px solid #F7B916;
}
.footer-buy__bottom{
    margin-top: 37px;
}
.footer-buy-info,
.footer-buy-pay,
.footer-buy-policy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
}
.footer-buy-logo{
    position: absolute;
    top: 0;
    left: 0;
}
.footer-buy-info__title{
    margin-bottom: 13px;
    font-size: 10px;
    line-height: 12px;
    color: #E5E5E5;
}
.footer-buy-info__link{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #F7B916;
}
.footer-buy-info__link:hover{
    text-decoration: underline;
}
.footer-buy-pay{
    margin-top: 40px;
}
.footer-buy-copyright{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
}
.footer-buy-policy__link{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
}
.footer-buy-policy__link:hover{
    text-decoration: underline;
}
.footer-buy-menu,
.footer-buy-socials{
    display: none;
    justify-content: space-between;
}
.footer-buy-menu__link{
    font-size: 16px;
    line-height: 19px;
    color: #F2F2F2;
}
.footer-buy-menu__link:hover{
    text-decoration: underline;
}


/*Responsive*/
@media all and (min-width: 320px) and (max-width: 767px){
    /*header buy*/
    .header-buy{
        padding: 19px 0 16px 0;
    }
    .header-buy-logo{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-width: 51px;
    }
    .header-buy-action{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .header-buy-navigation{
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 100%;
        margin-top: 26px;
    }
    .header-buy-navigation__link{
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        padding-bottom: 11px;
        font-size: 14px;
        line-height: 16px;
    }
    .header-buy-cart{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .header-buy-cart__price{
        display: none;
    }
    .header-buy-cart__icon svg{
        width: 16px;
        height: 16px;
    }
    .header-buy-cart__value{
        font-size: 14px;
        line-height: 16px;
    }
    /*footer buy*/
    .footer-buy{
        padding: 31px 0 43px 0;
    }
    .footer-buy-pay{
        display: none;
    }
    .footer-buy-menu,
    .footer-buy-socials{
        display: flex;
        width: 100%;
    }
    .footer-buy-logo,
    .footer-buy-copyright{
        position: static;
    }
    .footer-buy__top{
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 41px;
    }
    .footer-buy-info{
        justify-content: flex-end;
        width: 50%;
        margin-left: auto;
        text-align: right;
    }
    .footer-buy-info__item:first-child{
        margin-bottom: 20px;
    }
    .footer-buy-info__title{
        margin-bottom: 3px;
    }
    .footer-buy-policy{
        order: 1;
        justify-content: center;
    }
    .footer-buy-policy__link{
        margin: 0 5px;
        font-size: 16px;
        line-height: 26px;
    }
    .footer-buy-copyright{
        order: 2;
        margin-top: 32px;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
    }
    .footer-buy-socials{
        margin: 43px 0 38px 0;
    }
}