/*Header*/
.header-buy{
    padding: 40px 0;
}
.header-buy__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header-buy-navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.header-buy-navigation__link{
    padding-bottom: 5px;
    font-size: 18px;
    line-height: 21px;
    color: #81859C;
    border-bottom: 1px solid #81859C;
}
.header-buy-navigation__link:hover,
.header-buy-navigation__link_active{
    color: #1062AA;
    border-bottom: 1px solid #F7B916;
}
.header-buy-navigation__link svg{
    display: block;
    fill: #81859C;
}
.header-buy-navigation__link:hover svg{
    fill: #1062AA;
}
.header-buy-navigation__link:first-child{
    padding-right: 15px;
}
.header-buy-navigation__link:last-child{
    padding-left: 15px;
    text-align: right;
}
.header-buy-cart{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
}
.header-buy-cart__icon{
    position: relative;
    margin-right: 7px;
}
.header-buy-cart__value{
    position: absolute;
    top: -10px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 16px;
    line-height: 19px;
    color: inherit;
}
.header-buy-action{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #333333;
}
.header-buy-action__text{
    margin-left: 16px;
}
/*Top*/
.buy-top{
    padding: 30px 0 90px 0;
}
.buy-top__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.buy-top-discount{
    padding-left: 23px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.buy-top-discount__number{
    position: relative;
}
.buy-top-discount__number:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96px;
    height: 96px;
    margin-top: -48px;
    margin-left: -48px;
    border-radius: 100%;
    background-color: #FFE735;
    z-index: -1;
}
.buy-top-timer{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.buy-top-proof{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.buy-top-proof__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.buy-top-proof__item:first-child{
    margin-right: 44px;
}
.buy-top-proof__icon{
    margin-right: 14px;
}
.buy-top-proof__text{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
/*Studio*/
.buy-studio{
    padding-bottom: 57px;
    background-color: rgba(235, 240, 255, 0.5);
    text-align: center;
}
.buy-studio__label{
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding: 0 51px;
    background-color: #FFE735;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    color: #1062AA;
}
.buy-studio__label:before,
.buy-studio__label:after{
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
}
.buy-studio__label:before{
    left: -32px;
    border-top: 50px solid #FFE735;
    border-left: 32px solid transparent;
}
.buy-studio__label:after{
    right: -32px;
    border-top: 50px solid #FFE735;
    border-right: 32px solid transparent;
}
.buy-studio__heading-2{
    max-width: 720px;
    margin: 0 auto;
}
.buy-studio__slider{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 36px -8px;
}
.buy-studio-slide{
    width: 176px;
    margin: 0 8px;
}
.buy-studio-slide__img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 176px;
    margin-bottom: 26px;
    padding: 15px;
    border: 1px solid #81859C;
    background-color: #fff;
    border-radius: 6px;
}
.buy-studio-slide__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1062AA;
}
.buy-studio-slide__description{
    margin-top: 8px;
    padding: 0 5px;
    font-size: 16px;
    line-height: 26px;
}
.buy-studio__bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.buy-studio-benefits{
    margin-left: 63px;
}
.buy-studio-benefits__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.buy-studio-benefits__icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 11px;
}
.buy-studio-benefits__text{
    font-size: 18px;
    line-height: 48px;
}

/*Products*/
.buy-products{
    padding: 40px 0;
}
.buy-products__heading-2{
    margin-bottom: 20px;
    text-align: center;
}
.buy-product{
    padding: 45px 0;
    border-bottom: 1px solid rgba(129, 133, 156, 0.3);
}
.buy-product:last-child{
    border-bottom: none;
}
.buy-product__img{
    position: relative;
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 190px;
    margin-right: 10px;
}
.buy-product__label{
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 38px;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    text-align: center;
}
.buy-product__label-top{
    background-color: #FFE735;
    color: #1062AA;
}
.buy-product__label-best{
    background-color: #EF5237;
    color: #ffffff;
}
.buy-product__top{
    float: left;
    width: 100%;
    max-width: 474px;
}
.buy-product__title,
.buy-product__description{
    font-size: 18px;
    line-height: 28px;
    color: #1062AA;
}
.buy-product__text{
    float: left;
    width: 100%;
    max-width: 474px;
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}
.buy-product__list{
    float: left;
    width: 100%;
    max-width: 474px;
}
.buy-product__list > li{
    margin-top: 10px;
    padding-left: 17px;
    font-size: 16px;
    line-height: 26px;
}
.buy-product__list > li:before{
    top: 10px;
    width: 5px;
    height: 5px;
}
.buy-product__controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 263px;
    margin-left: auto;
}
.buy-product__price{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #1062AA;
}
.buy-product__price-old{
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #333333;
}
.buy-btn__add-basket svg{
    fill: #1062AA;
}
.buy-btn__add-basket:hover svg{
    fill: #F7B916;
}
.buy-btn__add-basket span{
    padding-left: 13px;
}
.buy-btn__in-basket{
    background-color: #1062AA;
    color: #ffffff;
}
.buy-btn__in-basket span{
    padding-left: 11px;
}
.buy-product__action{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 29px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #1062AA
}
.buy-product__action svg{
    margin-right: 10px;
}
.buy-product__period{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14px;
}
.buy-check{
    margin: 0 18px;
}
.label-check-buy{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
}
.label-check-buy:after{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 9px;
    border: 1px solid #1062AA;
    border-radius: 3px;
}
input[type="radio"]:checked + .label-check-buy:after{
    background: #1062AA url('../img/buy/checkmark.svg') center center no-repeat;
}


/*Responsive*/
@media all and (min-width: 320px) and (max-width: 767px){
    .header-buy{
        padding: 19px 0 16px 0;
    }
    .header-buy-logo{
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        max-width: 51px;
    }
    .header-buy-action{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .header-buy-navigation{
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
        width: 100%;
        margin-top: 26px;
    }
    .header-buy-navigation__link{
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        padding-bottom: 11px;
        font-size: 14px;
        line-height: 16px;
    }
    .header-buy-cart{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .header-buy-cart__price{
        display: none;
    }
    .header-buy-cart__icon svg{
        width: 16px;
        height: 16px;
    }
    .header-buy-cart__value{
        font-size: 14px;
        line-height: 16px;
    }
    .buy-top{
        padding: 20px 0 24px 0;
    }
    .buy-top-discount{
        width: 100%;
        padding-left: 0;
        font-size: 28px;
        line-height: 32px;
        text-align: center;
    }
    .buy-top-discount__number:before{
        width: 72px;
        height: 72px;
        margin-top: -36px;
        margin-left: -36px;
    }
    .buy-top-timer{
        width: 100%;
        margin-top: 16px;
        font-size: 24px;
        line-height: 26px;
        text-align: center;
    }
    .buy-top-proof{
        width: 100%;
        margin-top: 32px;
    }
    .buy-top-proof__text{
        font-size: 16px;
        line-height: 19px;
    }
    .buy-top-proof__item:first-child{
        margin-right: 0;
    }
    .buy-top-proof__item:last-child{
        margin-left: auto;
    }
    .buy-studio{
        padding-bottom: 36px;
    }
    .buy-studio__label{
        display: block;
        margin: 0 32px 15px 32px;
        padding: 0;
        text-align: center;
    }
    .buy-studio__heading-2{
        max-width: 90%;
    }
    .buy-studio__heading-2 span{
        color: #1062AA;
    }
    .buy-studio__slider{
        display: block;
        margin: 26px -10px 31px -10px;
    }
    .buy-studio__slider .slick-dots{
        margin-top: 0;
    }
    .buy-studio-slide{
        width: 162px;
        margin: 0 10px;
    }
    .buy-studio-benefits{
        margin-left: 0;
        text-align: left;
    }
    .buy-studio-benefits__icon{
        margin-right: 13px;
    }
    .buy-studio-benefits__text{
        font-size: 16px;
        line-height: 26px;
    }
    .buy-products{
        padding: 20px 0;
    }
    .buy-products__heading-2{
        margin-bottom: 0;
    }
    .buy-product{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 30px 0;
    }
    .buy-product__img,
    .buy-product__top,
    .buy-product__list,
    .buy-product__text{
        float: none;
    }
    .buy-product__img{
        width: 45%;
        margin-right: 0;
    }
    .buy-product__top{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        /*width: 55%;*/
        width: 53%;
    }
    .buy-product__description{
        font-size: 16px;
    }
    .buy-product__controls{
        margin-top: 20px;
        margin-right: auto;
    }
}