.cart{
    padding: 26px 0 140px 0;
}
.cart-summary{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.cart-summary__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.cart-summary__text svg{
    margin-left: 9px;
}
.cart-summary--bottom .cart-summary__text{
    margin-right: 84px;
}
.cart-summary__info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-summary__price{
    margin-right: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1062AA;
}
.cart-product{
    padding: 45px 0;
}
.cart-product__top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.cart-product-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-product-logo{
    margin-right: 25px;
}
.cart-product-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
}
.cart-product-controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-product-qty{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 45px;
}
.cart-product-qty__btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}
.cart-product-qty__inp{
    width: 58px;
    height: 40px;
    margin: 0 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
    border: 1px solid #81859C;
    border-radius: 6px;
}
.cart-product-price{
    text-align: center;
}
.cart-price{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #1062AA;
}
.cart-old-price{
    margin-bottom: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    -webkit-text-decoration-line: line-through;
    text-decoration-line: line-through;
    color: #333333;
}
.cart-product-action{
    margin-left: 50px;
}
.cart-product-extra{
    position: relative;
    margin-top: 45px;
    padding: 28px 50px 29px 70px;
    background-color: #EBF0FF;
    border-radius: 6px;
}
.cart-product-extra:before{
    content: "";
    position: absolute;
    top: -17px;
    left: 50px;
    width: 0;
    height: 0;
    border-bottom: 17px solid #EBF0FF;
    border-right: 17px solid transparent;
}
.cart-product-extra__product{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 22px;
}
.cart-product-extra__product:last-child{
    margin-bottom: 0;
}
.cart-product-extra__text{
    width: 100%;
    max-width: 517px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.cart-product-extra__text span{
    display: block;
}
.cart-product-additional{
    margin-top: 45px;
}
.cart-product-additional__product{
    margin-top: 30px;
    padding: 17px 43px 17px 18px;
    border: 1px solid #81859C;
    border-radius: 6px;
}
.cart-product-additional__product:last-child{
    margin-bottom: 0;
}
.cart-product-additional__img{
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 123px;
    height: 123px;
    margin-right: 33px;
    padding: 18px 12px;
    background-color: #EBF0FF;
    border-radius: 6px;
}
.cart-product-additional__info{
    float: left;
    max-width: 500px;
    font-size: 18px;
    line-height: 28px;
    color: #1062AA;
}
.cart-product-additional__title{
    font-weight: 700;
}
.cart-product-additional__text{
    float: left;
    max-width: 500px;
    margin-top: 15px;
    font-size: 16px;
    line-height: 26px;
}
.cart-product-additional__controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    max-width: 122px;
    margin-left: auto;
    margin-bottom: 15px;
}
.cart-product-additional__btn{
    margin-top: 20px;
}
.cart-product-additional__btn svg{
    stroke: #1062AA;
}
.cart-product-additional__btn:hover svg{
    stroke: #FFFFFF;
}
.cart-product-additional__btn svg{
    margin-right: 9px;
}
.cart-empty{
    display: none;
    padding: 60px 0 130px 0;
    text-align: center;
}
.cart-empty__img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 100%;
    background-color: #EF5237;
}
.cart-empty__title{
    width: 100%;
    max-width: 500px;
    margin: 20px auto 27px auto;
}
.cart-empty__text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    line-height: 28px;
}
.cart-empty__text a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-empty__text a svg{
    margin-left: 8px;
}

/*Responsive*/
@media all and (min-width: 320px) and (max-width: 767px){
    .cart{
        padding: 8px 0 60px 0;
    }
    .cart-summary{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .cart-summary__text{
        margin: 0;
    }
    .cart-summary__info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .cart-summary__price,
    .cart-summary--bottom .cart-summary__text{
        margin: 20px 0 10px 0;
    }
    .cart-product-info{
        width: 100%;
        margin-bottom: 17px;
    }
    .cart-product-logo{
        width: 44px;
        min-width: 44px;
        margin-right: 15px;
    }
    .cart-product-name{
        font-size: 18px;
        line-height: 22px;
    }
    .cart-product__top .cart-product-controls{
        padding-left: 15px;
    }
    .cart-product-controls{
        width: 100%;
    }
    .cart-product-action{
        margin-left: auto;
    }
    .cart-product-controls--priceonly .cart-product-price{
        margin-left: auto;
    }
    .cart-product-controls--priceonly .cart-product-action{
        margin-left: 50px;
    }
    .cart-product-qty{
        margin: 0 20px;
    }
    .cart-product-extra{
        margin-top: 30px;
        padding: 30px 15px;
    }
    .cart-product-extra:before{
        display: none;
    }
    .cart-product-extra__text{
        margin-bottom: 8px;
    }
    .cart-product-extra__text span{
        display: inline-block;
        padding-left: 10px;
    }
    .cart-product-additional{
        margin-top: 30px;
    }
    .cart-product-additional__product{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 15px 15px 30px 15px;
    }
    .cart-product-additional__img{
        margin-right: 15px;
    }
    .cart-product-additional__info{
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        float: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        line-height: 19px;
    }
    .cart-product-additional__info div{
        margin-top: 5px;
        font-size: 16px;
    }
    .cart-product-additional__text{
        margin-top: 8px;
    }
    .cart-product-additional__controls{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        max-width: 100%;
        margin-top: 11px;
        margin-left: 0;
        margin-bottom: 0;
    }
    .cart-product-additional__btn{
        margin-top: 0;
    }
    .cart-empty{
        padding: 30px 0 80px 0;
    }
    .cart-empty__title{
        font-size: 24px;
        line-height: 29px;
    }
}