/*general*/
h2, h3,
.h2, .h3{
    text-align: center;
}
/*preheader*/
.preheader--home{
    background-color: #1062AA;
}
.preheader-cirle{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 520px;
    height: 520px;
    margin-top: -260px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    z-index: 2;
}
.preheader-cirle__img{
    display: block;
}
.preheader-cirle--orange{
    left: 0;
    margin-left: -260px;
    background-color: #F7B916;
    animation: circleBlue 2s linear 1 forwards;
}
.preheader-cirle--orange .preheader-cirle__img{
    margin-right: -200px;
}
.preheader-cirle--blue .preheader-cirle__img{
    margin-left: -200px;
}
.preheader-cirle--blue{
    right: 0;
    margin-right: -260px;
    background-color: #00ADEE;
    animation: circleOrange 2s linear 1 forwards;
}
.preheader-cirle-image{
    position: absolute;
    top: 50%;
    max-width: 430px;
}
.preheader-cirle-image--orange{
    left: 0;
    margin-left: -130px;
}
.preheader-cirle-image--blue{
    right: 0;
    margin-right: -130px;
}
/*hero*/
.hero{
    position: relative;
    padding: 150px 0 92px 0;
    background-color: #1062AA;
    overflow: hidden;
}
.hero__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__title{
    width: 100%;
    max-width: 510px;
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 45px;
    color: #FFFFFF;
}
.hero__title span{
    font-size: 36px;
    line-height: 44px;
    -webkit-text-stroke: 1px #ffffff;
    color: rgba(255,255,255,0);
}
.hero__description{
    width: 100%;
    max-width: 370px;
    margin-bottom: 71px;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
}
.hero__form{
    position: relative;
    width: 100%;
    max-width: 360px;
    margin-bottom: 82px;
}
.inp-hero{
    padding: 0 150px 0 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 12px;
    line-height: 24px;
    color: #81859C;
}
.inp-hero::-webkit-input-placeholder {
    color: #81859C;
}
.inp-hero::-moz-placeholder {
    color: #81859C;
}
.inp-hero:-ms-input-placeholder {
    color: #81859C;
}
.inp-hero:-moz-placeholder {
    color: #81859C;
}
.btn-hero{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 127px;
    height: 44px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #00ADEE;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: #333333;
    cursor: pointer;
}
.btn-hero:hover{
    background-color: #F7B916;
}
.btn-hero:disabled{
    background-color: #81859C;
    color: #ffffff;
}
.hero__scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #00ADEE;
    animation: scrollArrow 1.5s linear infinite;
    cursor: pointer;
}
@keyframes scrollArrow {
    0%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
    75%{
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-o-keyframes scrollArrow {
    0%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
    75%{
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-moz-keyframes scrollArrow {
    0%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
    75%{
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes scrollArrow {
    0%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    25%{
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px);
    }
    75%{
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100%{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}
/*ratings*/
.ratings{
    padding-top: 40px;
}
.ratings__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.ratings-item{
    display: flex;
    flex-direction: column;
}
.ratings-item__logo{
    margin-bottom: 14px;
}
.ratings-item__stars{
    display: flex;
    margin-bottom: 10px;
}
.ratings-item__star{
    margin-right: 2px;
}
.ratings-item__info{
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    text-transform: lowercase;
    color: #81859C;
}
.ratings-item__info span{
    padding: 0 5px;
    color: #EBF0FF;
}
/*business*/
.business{
    padding: 123px 0 136px 0;
}
.business h2 span{
    color: #1062AA;
}
.business__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.business-item{
    display: flex;
    width: 100%;
    max-width: 402px;
    margin-top: 75px;
}
.business-item__img{
    width: 100px;
    min-width: 100px;
}
.business-item__content{
    margin-left: 20px;
}
.business-item__title{
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.business-item__description{
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 28px;
    color: #81859C;
}
.business-item__link{
    display: inline-flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #00ADEE;
}
.business-item__link span{
    margin-right: 8px;
    text-decoration-line: underline;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.business-item__link:hover span{
    margin-right: 3px;
}
/*studio*/
.home-studio{
    padding: 141px 0 136px 0;
    background-color: #F5F7FF;
}
.home-studio__headings{
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
}
.home-studio__title-before{
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1062AA;
}
.home-studio__content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 64px 0;
}
.home-studio__col{
    position: relative;
    width: 100%;
    max-width: 300px;
}
.home-studio-item{
    display: flex;
    align-items: center;
    width: 100%;
}
.home-studio-item:not(:last-child){
    margin-bottom: 22px;
}
.home-studio-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #333333;
}
.home-studio-item__text{
    padding: 4px 10px;
    font-size: 14px;
    line-height: 28px;
    background-color: #fff;
    box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.home-studio__col:first-of-type .home-studio-item{
    flex-direction: row-reverse;
}
.home-studio__col:first-of-type .home-studio-item__icon{
    margin-left: 15px;
}
.home-studio__col:last-of-type .home-studio-item__icon{
    margin-right: 15px;
}
.home-studio__col:after{
    content: "";
    position: absolute;
    width: 50px;
    height: 154px;
    top: 50%;
    margin-top: -77px;
    background: transparent url('../img/home/home-studio-curly-braces.svg') center center no-repeat;
}
.home-studio__col:first-of-type:after{
    right: -70px;
}
.home-studio__col:last-of-type:after{
    left: -70px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.home-studio-item__text span{
    color: #1062AA;
    font-weight: 500;
}
.home-studio__btn{
    display: flex;
    justify-content: center;
}
.home-studio__btn:last-child{
    margin-top: 30px;
}
.home-studio__play{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    width: 66px;
    height: 66px;
    margin-top: -33px;
    margin-left: -33px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #FFE735;
    animation: pulse 2s linear infinite;
}
.home-studio__play:before,
.home-studio__play:after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.home-studio__play:before{
    width: 98px;
    height: 98px;
    background-color: rgba(255, 231, 53, 0.2);
    animation: waterBefore 2s linear infinite;
}
.home-studio__play:after{
    width: 130px;
    height: 130px;
    background-color: rgba(255, 231, 53, 0.1);
    animation: waterAfter 2s linear infinite;
}
.home-studio__play svg{
    animation: playBtn 2s linear infinite;
}
.home-studio__play:hover svg{
    fill: #333333;
}
@keyframes playBtn {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes pulse {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes waterBefore {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 98px;
        height: 98px;
    }
}
@keyframes waterAfter {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 130px;
        height: 130px;
    }
}
@-webkit-keyframes playBtn {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes pulse {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes waterBefore {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 98px;
        height: 98px;
    }
}
@-webkit-keyframes waterAfter {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 130px;
        height: 130px;
    }
}
@-moz-keyframes playBtn {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes waterBefore {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 98px;
        height: 98px;
    }
}
@-moz-keyframes waterAfter {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 130px;
        height: 130px;
    }
}
@-o-keyframes playBtn {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes pulse {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50%{
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes waterBefore {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 98px;
        height: 98px;
    }
}
@-o-keyframes waterAfter {
    0%{
        width: 66px;
        height: 66px;
    }
    100%{
        width: 130px;
        height: 130px;
    }
}
.window-studio{
    max-width: 703px;
    padding: 74px;
}
.window-studio__btns{
    margin-top: 46px;
}
.window-studio__btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.window-studio__btn:first-child{
    margin-bottom: 23px;
}
/*parsing*/
.parsing{
    padding: 125px 0;
}
.parsing__subtitle{
    margin-top: 17px;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.parsing__slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 38px;
    margin-left: -15px;
    margin-right: -15px;
}
.parsing-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 360px;
    min-height: 360px;
    margin: 0 15px;
    padding: 32px 48px 45px 48px;
    background-color: #fff;
    box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.parsing-item__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    margin-bottom: 26px;
}
.parsing-item__icon img{
    max-height: 100%;
}
.parsing-item__title{
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.parsing-item__text{
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}
.parsing-item__btn{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
/*strategy*/
.strategy{
    padding-bottom: 140px;
}
.strategy h2{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}
.strategy__title-before{
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    color: #1062AA;
}
.strategy__title-after{
    margin-top: 14px;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.strategy__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 38px;
}
.strategy__imgs{
    width: 100%;
    max-width: 460px;
}
.strategy__img img{
    margin: 0 auto;
}
.strategy__tabs{
    width: 100%;
    max-width: 394px;
}
.strategy-tab{
    padding-left: 20px;
}
.strategy-tab:not(:first-child){
    margin-top: 21px;
}
.strategy__btn{
    margin-top: 32px;
}
.strategy-tab__top{
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
    cursor: pointer;
}
.strategy-tab__arrow{
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -6px;
}
.strategy-tab_active .strategy-tab__arrow{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.strategy-tab__content{
    display: none;
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
}
.strategy-tab_active .strategy-tab__content{
    display: block;
}
/*best sellers*/
.bestsellers{
    padding: 125px 0;
}
.bestsellers__slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
    margin-left: -15px;
    margin-right: -15px;
}
.bestsellers-item{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 360px;
    min-height: 360px;
    margin: 0 15px;
    padding: 16px 48px 38px 48px;
    background-color: #fff;
    box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    overflow: hidden;
}
.bestsellers__slider div:nth-child(1) .bestsellers-item:hover{
    background-color: #4AE4E4;
}
.bestsellers__slider div:nth-child(2) .bestsellers-item:hover{
    background-color: #F7B916;
}
.bestsellers__slider div:nth-child(3) .bestsellers-item:hover{
    background-color: #EB008B;
}
.bestsellers-item__img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    z-index: 1;
}
.bestsellers-item__img img{
    margin: 0 auto;
    padding-top: 12px;
    max-width: 230px;
}
.bestsellers-item:hover .bestsellers-item__img{
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.bestsellers-item:hover .bestsellers-item__content{
    visibility: hidden;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.bestsellers-item__content{
    padding-top: 27px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.bestsellers-item__top{
    display: flex;
    align-items: center;
}
.bestsellers-item__icon{
    width: 50px;
    min-width: 50px;
}
.bestsellers-item__title{
    margin-left: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.bestsellers-item__description{
    margin-top: 17px;
    margin-right: -30px;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 26px;
}
.bestsellers-item__description li:not(:last-child){
    margin-bottom: 9px;
}
.bestsellers-item__description li{
    padding-left: 12px;
}
.bestsellers-item__description li:before{
    top: 11px;
    width: 4px;
    height: 4px;
}
.bestsellers-item__btn{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: auto;
    z-index: 9;
}
/*lets start*/
.letsstart__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.letsstart__content{
    width: 100%;
    max-width: 525px;
}
.letsstart__title-before{
    margin-bottom: 8px;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1062AA;
}
.letsstart__title{
    text-align: left;
}
.letsstart__title span{
    display: block;
}
.letsstart__description{
    margin-top: 12px;
    font-size: 18px;
    line-height: 28px;
    color: #81859C;
}
.letsstart__btn{
    margin-top: 40px;
}
.letsstart__media{
    width: 100%;
    max-width: 335px;
}
/*profitable*/
.profitable{
    padding-top: 140px;
}
.profitable__headings{
    width: 100%;
    max-width: 722px;
    margin: 0 auto;
    text-align: center;
}
.profitable__title-before{
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #1062AA;
}
.profitable__title-after{
    margin-top: 24px;
    font-size: 18px;
    line-height: 28px;
    color: #81859C;
}
.profitable__content{
    position: relative;
    width: 100%;
    max-width: 810px;
    height: 290px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background: transparent url('../img/home/home-profitable-bg.svg') center center no-repeat;
}
.profitable-item{
    position: absolute;
    width: 100%;
    max-width: 230px;
    padding: 20px 15px 10px 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.profitable-item:nth-child(1){
    top: 0;
    right: 144px;
}
.profitable-item:nth-child(2){
    top: 30px;
    left: 126px;
}
.profitable-item:nth-child(3){
    left: 0;
    bottom: 64px;
    max-width: 200px;
}
.profitable-item:nth-child(4){
    left: 50%;
    bottom: 0;
    max-width: 260px;
    margin-left: -130px;
}
.profitable-item:nth-child(5){
    right: 0;
    bottom: 64px;
}
.profitable-item__icon{
    position: absolute;
    top: -17px;
    left: 50%;
    width: 34px;
    height: 34px;
    margin-left: -17px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.profitable-item__blue,
.profitable-item__blue-small{
    font-weight: 500;
    line-height: 24px;
    color: #1062AA;
}
.profitable-item__blue{
    font-size: 24px;
}
.profitable-item__blue-small{
    font-size: 18px;
}
/*clients*/
.home-clients{
    padding-top: 128px;
}
.home-clients__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 36px;
}
.home-clients-reviews{
    width: 100%;
    max-width: 750px;
}
.home-clients-reviews__item{
    position: relative;
    padding: 42px 34px 88px 34px;
    background-color: #FFE735;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.home-clients-reviews__img{
    position: absolute;
    bottom: 0;
    left: 0;
}
.home-clients-reviews__content{
    width: 100%;
    max-width: 376px;
    margin-left: auto;
}
.home-clients-reviews__feedback{
    position: relative;
    padding: 36px 26px;
    background-color: #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 26px;
    line-height: 36px;
}
.home-clients-reviews__feedback:after{
    content: "";
    position: absolute;
    left: -20px;
    bottom: 15px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #FFFFFF;
    border-left: 20px solid transparent;
}
.home-clients-reviews__feedback-text:before,
.home-clients-reviews__feedback-text:after {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 12px;
    background-size: contain;
}
.home-clients-reviews__feedback-text:before {
    background: transparent url(../img/studio/studio-clints-feedback-quote-start.svg) center center no-repeat;
}
.home-clients-reviews__feedback-text:after {
    margin-left: 4px;
    background: transparent url(../img/studio/studio-clints-feedback-quote-end.svg) center center no-repeat;
}
.home-clients-reviews__info{
    margin-top: 99px;
    text-align: center;
}
.home-clients-reviews__author{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.home-clients-reviews__position{
    font-size: 14px;
    line-height: 26px;
}
.home-clients__more{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 31px;
}
.home-clients__single-review{
    width: 100%;
    max-width: 360px;
}
.home-clients .home-clients-review{
    height: auto;
    margin: 0;
}
.home-clients .home-clients-review__text{
    margin-bottom: 19px;
}
.home-clients .home-clients-review-logo{
    margin-top: 23px;
}
.home-clients .home-clients-review-rating{
    margin-top: 14px;
}
.home-clients-reviews .slick-dots{
    position: absolute;
    right: 0;
    bottom: 53px;
    width: 100%;
    max-width: 376px;
    margin-left: auto;
    margin-right: 34px;
}
.home-clients-reviews .slick-dots .slick-active button{
    background-color: rgba(255,255,255,1);
}
.home-clients-reviews .slick-dots button{
    background-color: rgba(255,255,255,0.5);
}
.home-clients-review{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    height: 100%;
    margin: 0 15px;
    padding: 26px 21px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: -4px 4px 20px rgba(16,98,170,0.2);
}
.home-clients-review__text{
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 26px;
}
.home-clients-review--special .home-clients-review__text,
.home-clients-review--special-blue .home-clients-review__text{
    margin-top: 70px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
.home-clients-review__text:before,
.home-clients-review__text:after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 12px;
    background-size: contain;
}
.home-clients-review__text:before{
    margin-right: 10px;
    background: transparent url('../img/products/quote-start.svg') center center no-repeat;
}
.home-clients-review__text:after{
    margin-left: 5px;
    background: transparent url('../img/products/quote-end.svg') center center no-repeat;
}
.home-clients-review__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
}
.home-clients-reviews__avatar{
    width: 38px;
    height: 38px;
    margin-right: 19px;
    border: 2px solid #F7B916;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.home-clients-reviews__author-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.home-clients-reviews__author-position{
    font-size: 14px;
    line-height: 26px;
}
.home-clients-reviews__more{
    display: flex;
    justify-content: center;
}
.home-clients-review-logo{
    margin-top: 47px;
}
.home-clients-review-rating{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 27px;
}
.home-clients-review-rating__stars{
    display: flex;
}
.home-clients-review-rating__star:not(:last-child){
    margin-right: 8px;
}
.home-clients-review-rating__numbers{
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
/*why*/
.home-why{
    padding: 125px 0;
}
.home-why__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-why-item{
    width: 100%;
    max-width: 290px;
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
}
.home-why-item__icon{
    width: 40px;
    height: 40px;
}
.home-why-item__title{
    margin-top: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.home-why-item__description{
    margin-top: 4px;
    font-size: 14px;
    line-height: 24px;
}
/*customers*/
.customers{
    padding: 40px 0;
    background-color: #F5F7FF;
}
.customers__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.customers__countries{
    margin-right: 45px;
}
.customers-country{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 38px;
}
.customers__box{
    width: 100%;
    max-width: 660px;
    padding: 74px 0 96px 0;
    background: transparent url('../img/home/home-customers-map.png') center center no-repeat;
    background-size: cover;
}
.customers__counters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 34px;
}
.customers-counter{
    margin-top: 30px;
    margin-left: 42px;
    margin-right: 42px;
    font-family: 'Montserrat', sans-serif;
}
.customers-counter__numbers{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #1062AA;
}
.customers-counter__text{
    margin-top: 4px;
    font-size: 18px;
    line-height: 22px;
    color: #00ADEE;
}
.customers__btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
    margin-right: 42px;
}
/*faqs*/
.faqs--home{
    padding: 125px 0;
}

@media all and (min-width: 1600px){
    .preheader-cirle{
        width: 798px;
        height: 798px;
        margin-top: -399px;
    }
    .preheader-cirle--orange{
        margin-left: -399px;
    }
    .preheader-cirle--blue{
        margin-right: -399px;
    }
    .preheader-cirle--orange .preheader-cirle__img{
        margin-right: -500px;
    }
    .preheader-cirle--blue .preheader-cirle__img{
        margin-left: -500px;
    }
    .hero__title {
        max-width: 664px;
        margin-bottom: 24px;
        font-size: 48px;
        line-height: 59px;
    }
    .hero__title span{
        font-size: 48px;
        line-height: 59px;
    }
    .hero__description{
        max-width: 410px;
        font-size: 21px;
        line-height: 31px;
    }
}
@media all and (min-width: 320px) and (max-width: 767px){
    /*hero*/
    .hero{
        padding: 60px 0;
    }
    .preheader-cirle{
        display: none;
    }
    /*ratings*/
    .ratings-item{
        width: 45%;
        margin-top: 20px;
    }
    /*business*/
    .business{
        padding: 60px 0;
    }
    .business-item{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 40px;
    }
    .business-item__content{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
        text-align: center;
    }
    /*studio*/
    .home-studio{
        padding: 60px 0;
    }
    .home-studio__content{
        margin: 40px 0;
    }
    .home-studio__col:first-of-type .home-studio-item{
        flex-direction: row;
    }
    .home-studio__col:first-of-type{
        margin-bottom: 22px;
    }
    .home-studio__col:after{
        display: none;
    }
    .home-studio__col:first-of-type .home-studio-item__icon{
        margin-left: 0;
        margin-right: 15px;
    }
    .home-studio__play{
        position: relative;
        top: 0;
        left: 0;
        margin: 40px auto 0 auto;
    }
    .window-studio{
        padding: 50px 15px 30px 15px;
    }
    /*parsing*/
    .parsing{
        padding: 60px 0;
    }
    .parsing__slider{
        margin-top: 14px;
    }
    .parsing__slider .slick-slide{
        padding: 24px 15px;
    }
    .parsing-item{
        margin: 0;
        padding: 15px;
    }
    /*strategy*/
    .strategy{
        padding-bottom: 60px;
    }
    .strategy__tabs{
        margin-top: 20px;
    }
    .strategy__btn{
        display: flex;
        justify-content: center;
    }
    /*best sellers*/
    .bestsellers{
        padding: 60px 0;
    }
    .bestsellers__slider{
        margin-top: 12px;
    }
    .bestsellers__slider .slick-slide{
        padding: 24px 15px;
    }
    .bestsellers-item{
        margin: 0;
        padding: 15px;
    }
    /*lets start*/
    .letsstart__inner{
        justify-content: center;
    }
    .letsstart__content,
    .letsstart__title{
        text-align: center;
    }
    .letsstart__title span{
        display: inline;
    }
    .letsstart__btn{
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }
    /*profitable*/
    .profitable{
        padding-top: 60px;
    }
    .profitable__content{
        height: auto;
    }
    .profitable-item{
        position: static;
    }
    .profitable-item{
        max-width: 290px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .profitable-item:nth-child(3),
    .profitable-item:nth-child(4){
        max-width: 290px;
        margin-left: auto;
    }
    .profitable-item:last-child{
        margin-bottom: 0;
    }
    /*client*/
    .home-clients{
        padding-top: 71px;
    }
    .home-clients__single-review,
    .home-clients__more{
        display: none;
    }
    .home-clients-reviews__img{
        position: static;
    }
    .home-clients-reviews .slick-dots{
        bottom: -40px;
        max-width: 100%;
        margin-right: auto;
    }
    .home-clients-reviews .slick-dots .slick-active button{
        background-color: rgba(129,133,156,1);
    }
    .home-clients-reviews .slick-dots button{
        background-color: rgba(129,133,156,0.5);
    }
    .home-clients-reviews__item{
        margin-top: 120px;
        padding: 68px 15px 0 15px;
    }
    .home-clients-reviews__content{
        position: absolute;
        right: 0;
        bottom: 64%;
    }
    .home-clients-reviews__info{
        width: 50%;
        margin-top: 18px;
        margin-left: auto;
        text-align: right;
        padding: 0 15px;
    }
    .home-clients-reviews__feedback{
        width: 90%;
        margin-left: auto;
        font-size: 18px;
        line-height: 28px;
        box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
    }
    .home-clients__inner{
        margin-bottom: 20px;
    }
    .home-clients-reviews{
        padding: 0;
        background-color: #fff;
    }
    .home-clients-reviews__list{
        margin-top: 0;
        margin-bottom: 0;
    }
    .home-clients-reviews .slick-slide{
        padding: 24px 15px;
    }
    .home-clients-review{
        margin: 0;
    }
    .home-clients-reviews__more{
        display: none;
    }
    .home-clients-review-logo{
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
    .home-clients-review-rating{
        justify-content: center;
        margin-top: 27px;
    }
    /*why*/
    .home-why{
        padding: 60px 0;
    }
    .home-why-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    /*customers*/
    .customers__countries{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        order: 2;
        margin-right: 0;
    }
    .customers-country{
        width: 45%;
    }
    .customers__box{
        order: 1;
        padding: 30px 0;
    }
    .customers__counters{
        justify-content: center;
    }
    .customers-counter{
        text-align: center;
    }
    .customers__btn{
        justify-content: center;
        margin-top: 40px;
        margin-right: 0;
    }
    /*faqs*/
    .faqs--home{
        padding: 60px 0;
    }
}