h2,h3{
    text-align: center;
}
/*top*/
.product-top{
    margin-top: 62px;
}
.product-top__inner{
    display: block;
}
.product-top__col{
    position: relative;
    float: left;
    width: 50%;
}
.product-top__title{
    font-size: 48px;
    line-height: 48px;
    color: #1062AA;
}
.product-top__title span{
    display: block;
    margin-bottom: -10px;
    font-size: 24px;
    line-height: 48px;
    color: #333333;
}
.product-top__description{
    margin-top: 13px;
    font-size: 18px;
    line-height: 34px;
}
.product-top__download{
    position: relative;
    margin-top: 34px;
}
.product-top__download-count{
    position: absolute;
    top: 25px;
    left: 10px;
    z-index: -1;
}
.product-top__buy{
    margin-top: 58px;
}
/*product video*/
.product-video{
    padding-bottom: 124px;
}
.product-video__bg{
    padding: 131px 0 201px 0;
    background-color: #FFE735;
}
.product-video__text{
    margin-top: 27px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}
.product-video-item{
    width: 100%;
    max-width: 657px;
    margin: -165px auto 0 auto;
}
.product-video-item__btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 44px;
}
/*product reviews*/
.product-reviews{
    padding: 124px 0 136px 0;
    background-color: #F5F7FF;
}
.product-reviews__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 41px;
}
.product-review{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 360px;
    height: 100%;
    margin: 0 15px;
    padding: 26px 21px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    box-shadow: -4px 4px 20px rgba(16,98,170,0.2);
}
.product-review--special{
    background-color: #FFE735;
}
.product-review__text{
    margin-bottom: 70px;
    font-size: 16px;
    line-height: 26px;
}
.product-review--special .product-review__text{
    margin-top: 70px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
}
.product-review__text:before,
.product-review__text:after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 14px;
    height: 12px;
    background-size: contain;
}
.product-review__text:before{
    margin-right: 10px;
    background: transparent url('../img/products/quote-start.svg') center center no-repeat;
}
.product-review__text:after{
    margin-left: 5px;
    background: transparent url('../img/products/quote-end.svg') center center no-repeat;
}
.product-review--special .product-review__text:before{
    background: transparent url('../img/products/quote-start-white.svg') center center no-repeat;
}
.product-review--special .product-review__text:after{
    background: transparent url('../img/products/quote-end-white.svg') center center no-repeat;
}
.product-review__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: auto;
}
.product-reviews__avatar{
    width: 38px;
    height: 38px;
    margin-right: 19px;
    border: 2px solid #F7B916;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;
}
.product-reviews__author-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
.product-reviews__author-position{
    font-size: 14px;
    line-height: 26px;
}
.product-reviews__more{
    display: flex;
    justify-content: center;
}
/*product download slider*/
.product-d-slider{
    padding: 125px 0;
}
.product-d-slider__carousel{
    position: relative;
    margin: 55px 0 45px 0;
}
.product-d-slider__prev,
.product-d-slider__next{
    top: 50%;
}
.product-d-slide{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 838px;
    height: 388px;
    margin: 20px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #81859C;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.product-d-slide:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -20px;
    left: -20px;
    background-color: #81859C;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: -1;
}
.product-d-slide__text{
    width: 100%;
    max-width: 330px;
}
.product-d-slide__title{
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
}
.product-d-slide__description{
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
}
.product-d-slider__btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.product-d-slide a{
    text-decoration: underline;
}
/*product updates*/
.product-updates-box{
    width: 100%;
    max-width: 846px;
    margin: 36px auto 0 auto;
    border: 1px solid #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.product-updates-box__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 25px;
    background-color: #EBF0FF;
}
.product-updates-box__info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.product-updates-box__name{
    width: 100%;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.product-updates-box__date,
.product-updates-box__status{
    font-size: 14px;
    line-height: 16px;
    color: #1062AA;
}
.product-updates-box__date{
    margin-right: 60px;
}
.product-updates-box__status{
    display: flex;
    align-items: center;
}
.product-updates-box__status span{
    margin-left: 7px;
}
.product-updates-box__text{
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
}
.product-updates-box__changes{
    padding: 18px 25px;
}
.product-updates-box__change:not(:first-child){
    display: none;
}
.product-updates-box__changes-status{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #1062AA;
}
.product-updates-box__changes-status span{
    margin-left: 15px;
}
.product-updates-box__changes-list{
    margin-top: 11px;
    margin-left: 38px;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 26px;
}
.product-updates-box__changes-list li{
    padding-left: 17px;
}
.product-updates-box__changes-list li:before{
    top: 11px;
    width: 4px;
    height: 4px;
}
.product-updates-box__more{
    margin-left: 38px;
    font-size: 14px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #1062AA;
}
/*product tree*/
.products-tree__item:not(:first-child){
    margin-top: 140px;
}
.products-tree__item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.products-tree__media,
.products-tree__content{
    width: 100%;
    max-width: 48%;
}
.products-tree__item:nth-child(even) .products-tree__media{
    order: 2;
}
.products-tree__item:nth-child(even) .products-tree__content{
    order: 1;
}
.products-tree__sup{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #1062AA;
}
.products-tree__title{
    margin-top: 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.products-tree__description{
    margin-top: 28px;
    font-size: 16px;
    line-height: 26px;
}
.products-tree__btn{
    margin-top: 29px;
}
/*product cards*/
.product-card{
    position: relative;
    width: 318px;
    height: 371px;
    margin-right: 42px;
    margin-top: 23px;
    padding: 70px 27px;
    border: 1px solid #333333;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.product-card:hover{
    background-color: #1062AA;
    border: 1px solid #1062AA;
    color: #FFFFFF;
}
.product-card__icon{
    position: absolute;
    top: -23px;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 47px;
    margin-left: -23px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #333333;
}
.product-card__title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.product-card__text{
    margin-top: 29px;
    font-size: 16px;
    line-height: 26px;
}
.product-card:hover .product-card__text a{
    color: #FFFFFF;
}
.product-card__text a{
    text-decoration: underline;
}
.product-card--last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product-cards__slider .slick-dots{
    margin-top: 30px;
}
/*product demo*/
.product-demo{
    padding: 133px 0 117px 0;
}
.product-demo__description{
    margin-top: 27px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.product-demo__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 55px;
}
.product-demo__box-col-1{
    width: 100%;
    max-width: 360px;
}
.product-demo-video{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 194px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.product-demo-video__bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.product-demo-video__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-demo-video__btn{
    cursor: pointer;
}
.product-demo-video__text{
    margin-top: 11px;
    font-size: 18px;
    line-height: 26px;
}
.product-demo-logo{
    margin-top: 47px;
}
.product-demo-rating{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 27px;
}
.product-demo-rating__stars{
    display: flex;
}
.product-demo-rating__star:not(:last-child){
    margin-right: 8px;
}
.product-demo-rating__numbers{
    margin-left: 15px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.product-demo__box-col-2{
    width: 100%;
    max-width: 555px;
}
.product-demo__list-title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
}
.product-demo__list{
    font-size: 18px;
    line-height: 21px;
}
.product-demo__list li{
    margin-bottom: 10px;
    padding-left: 17px;
}
.product-demo__list li:before{
    width: 4px;
    height: 4px;
    top: 9px;
}
.product-demo__get-demo{
    position: relative;
    margin-top: 42px;
}
.product-demo__get-demo-free{
    position: absolute;
    top: 40px;
    left: 195px;
}
/*product get demo modal*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}
.get-demo-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 703px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 84px 108px;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.modal-close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
/*chat*/
.product-chat{
    padding: 95px 0 131px 0;
    background-color: rgba(235, 240, 255, 0.5);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.product-chat__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    max-width: 945px;
    margin: 0 auto;
}
.product-chat__text{
    max-width: 513px;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}
.product-chat__btn{
    align-self: center;
}
.product-chat-btn{
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
}
.product-chat-btn svg{
    stroke: #333333;
}
.product-chat-btn:hover svg{
    stroke: #FFFFFF;
}
/*product accordions*/
.product-accordions{
    padding: 102px 0 132px 0;
}
.product-accordions__list{
    max-width: 808px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
}
.product-accordion{
    padding-left: 30px;
    padding-right: 30px;
}
.product-accordion:not(:last-child){
    margin-bottom: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid #1062AA;
}
.product-accordion__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.product-accordion__arrow{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.product-accordion_opened .product-accordion__arrow{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.product-accordion__title{
    font-size: 24px;
    line-height: 24px;
    color: #1062AA;
}
.product-accordion__content{
    display: none;
    margin-top: 30px;
    padding: 0 0 0 15px;
    font-size: 18px;
    line-height: 28px;
}
.product-accordion_opened .product-accordion__content{
    display: block;
}
.product-accordion ul li{
    padding-left: 12px;
}
.product-accordion ul li:before{
    width: 4px;
    height: 4px;
    margin-top: 12px;
}
.product-accordion ol{
    counter-reset: section;
}
.product-accordion ol li:before{
    counter-increment: section;
    content: counter(section) ". ";
    position: static;
}
/*others slider*/
.other{
    padding: 108px 0 182px 0;
    background-color: rgba(235, 240, 255, 0.5);
    text-align: center;
}
.other-slider{
    position: relative;
}
.other-slider__inner{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 36px -8px 0 -8px;
}
.other-slide{
    width: 176px;
    margin: 0 8px;
}
.other-slide__img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 176px;
    margin-bottom: 26px;
    padding: 15px;
    border: 1px solid #81859C;
    background-color: #fff;
    border-radius: 6px;
}
.other-slide__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #1062AA;
}
.other-slide__description{
    margin-top: 8px;
    padding: 0 5px;
    font-size: 14px;
    line-height: 18px;
}
.other-slider__prev,
.other-slider__next{
    top: 88px;
}
/*mobile form*/
.sw-p-download-form{
    display: none;
    margin: 0 -15px;
    padding: 30px;
    background-color: #EBF0FF;
}
.sw-p-download-form__inp{
    position: relative;
}
.sw-p-download-form__inp-icon{
    position: absolute;
    top: 13px;
    right: 16px;
}
.inp-sw-p-download-form{
    width: 100%;
    padding: 11px 46px 11px 16px;
    border: 1px solid #81859C;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    color: #656565;
}
.btn-sw-p-download-form{
    margin: 19px auto 0 auto;
    background-color: #80849B;
    color: #FFFFFF;
    text-transform: none;
}

@media all and (min-width: 320px) and (max-width: 767px){
    /* product top*/
    .product-top{
        margin-top: 22px;
    }
    .product-top__inner{
        display: flex;
        flex-wrap: wrap;
    }
    .product-top__col{
        float: none;
        width: 100%;
    }
    .product-top__col:nth-child(1){
        order: 2;
    }
    .product-top__col:nth-child(2){
        order: 1;
    }
    .product-top__col:nth-child(3){
        order: 3;
    }
    .product-top__title,
    .product-top__title span{
        font-size: 30px;
        line-height: 32px;
    }
    .product-top__title span{
        display: inline-block;
        margin-bottom: 0;
        margin-right: 7px;
        color: #1062AA;
    }
    .product-top__description{
        margin-top: 18px;
        margin-bottom: 22px;
        font-size: 18px;
        line-height: 28px;
    }
    .product-top__buy{
        margin-top: 30px;
    }
    .product-top__buy .btn-product{
        margin: 0 auto;
    }
    /* product tree*/
    .products-tree__item:not(:first-child){
        margin-top: 28px;
    }
    .products-tree__media, .products-tree__content{
        max-width: 100%;
    }
    .products-tree__media{
        margin-bottom: 34px;
    }
    .products-tree__item:nth-child(even) .products-tree__media{
        order: 1;
    }
    .products-tree__item:nth-child(even) .products-tree__content{
        order: 2;
    }
    .products-tree__title{
        margin-top: 11px;
        font-size: 24px;
        line-height: 34px;
    }
    .products-tree__description{
        margin-top: 17px;
    }
    .products-tree__btn{
        margin-top: 24px;
    }
    .products-tree__btn .btn-product{
        margin: 0 auto;
    }
    /*product card*/
    .product-card{
        width: 100%;
        margin-right: 0;
    }
    /*product video*/
    .product-video{
        padding-bottom: 71px;
    }
    .product-video__bg{
        padding: 70px 0 112px 0;
    }
    .product-video__text{
        margin-top: 15px;
        font-size: 18px;
        line-height: 28px;
    }
    .product-video-item{
        margin: -97px auto 0 auto;
    }
    .product-video-item__btns{
        display: block;
        margin-top: 32px;
    }
    .product-video-item__btns .link-w-arrow{
        width: 260px;
        justify-content: center;
        margin: 32px auto 0 auto;
    }
    /*.product reviews*/
    .product-reviews{
        padding: 0;
        background-color: #fff;
    }
    .product-reviews__list{
        margin-top: 0;
    }
    .product-reviews .slick-slide{
        padding: 24px 15px;
    }
    .product-review{
        margin: 0;
    }
    .product-reviews__more{
        display: none;
    }
    /*product download slider*/
    .product-d-slider{
        padding: 71px 0;
    }
    .product-d-slider__carousel{
        margin: 18px 0 32px 0;
    }
    .product-d-slider .slick-dots{
        margin-top: 20px;
    }
    .product-d-slider__prev, .product-d-slider__next{
        display: none;
    }
    .product-d-slide{
        align-items: flex-start;
        height: auto;
        min-height: 594px;
        padding: 25px 15px;
        border: 1px solid #81859C;
    }
    .product-d-slide:before{
        display: none;
    }
    .product-d-slider__btns{
        display: block;
    }
    .product-d-slider__btns .link-w-arrow{
        width: 260px;
        justify-content: center;
        margin: 32px auto 0 auto;
    }
    /*product updates*/
    .product-updates-box__changes{
        padding: 24px 16px;
    }
    .product-updates-box__changes-list{
        margin-left: 9px;
    }
    .product-updates-box__text{
        margin-top: 8px;
    }
    .product-updates-box__status{
        margin-left: auto;
    }
    /*product demo*/
    .product-demo{
        padding: 74px 0 46px 0;
    }
    .product-demo__description{
        margin-top: 15px;
        font-size: 16px;
        line-height: 26px;
    }
    .product-demo__box{
        margin-top: 24px;
    }
    .product-demo__box-col-1{
        margin-bottom: 20px;
    }
    .product-demo-logo{
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
    .product-demo-rating{
        justify-content: center;
        margin-top: 27px;
    }
    .product-demo__list-title{
        margin-bottom: 13px;
        font-size: 21px;
        line-height: 31px;
    }
    .product-demo__get-demo{
        margin-top: 27px;
    }
    .product-demo__list{
        font-size: 16px;
        line-height: 26px;
    }
    .product-demo__list ul{
        padding-left: 25px;
    }
    .product-demo__get-demo-free{
        display: none;
    }
    /*chat*/
    .product-chat{
        padding: 0;
        background-color: #fff;
    }
    .product-chat__inner{
        justify-content: center;
    }
    .product-chat__icon{
        max-width: 85px;
    }
    .product-chat__text{
        margin: 20px 0 37px 0;
        text-align: center;
    }
    /*product accordions*/
    .product-accordions{
        padding: 71px 0 78px 0;
    }
    .product-accordions__list{
        margin-top: 25px;
    }
    .product-accordion{
        padding-left: 0;
        padding-right: 0;
    }
    .product-accordion:not(:last-child){
        margin-bottom: 23px;
        padding-bottom: 24px;
    }
    .product-accordion__top{
        align-items: flex-start;
    }
    .product-accordion__arrow{
        min-width: 16px;
        margin-top: 9px;
    }
    .product-accordion__title{
        font-size: 24px;
        line-height: 28px;
    }
    .product-accordion__content{
        margin-top: 13px;
        padding: 0;
    }
    .sw-p-download-form{
        display: block;
    }
}