/*Subscribers*/
.sender-sebscribers{
    margin-top: 104px;
    padding: 56px 0 153px 0;
    background-color: rgba(235, 240, 255, 0.5);
}
.sender-sebscribers__tree{
    margin-top: 76px;
}
/*Templates*/
.sender-templates{
    padding: 125px 0;
}
.sender-templates__subtitle{
    max-width: 750px;
    margin: 25px auto 38px auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #81859C;
}
.sender-templates__slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sender-templates__slider .slick-dots{
    margin-top: 20px;
}
.sender-templates-slide{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 16px;
}
.sender-templates__btn{
    display: flex;
    justify-content: center;
    margin-top: 84px;
}
/*Inbox*/
.sender-inbox{
    padding-bottom: 140px;
}
.sender-inbox__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}
.sender-inbox-item{
    width: 100%;
    max-width: 457px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background-color: #EBF0FF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-left: 11px solid #1062AA;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    overflow: hidden;
}
.sender-inbox-item:hover{
    background-color: #1062AA;
    color: #FFFFFF;
}
.sender-inbox-item__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.sender-inbox-item__description{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
}
/*Why*/
.sender-why{
    padding: 126px 0 136px 0;
}
.sender-why__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6px;
}
.sender-why-item{
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: 30px 15px 0 15px;
}
.sender-why-item__icon{
    min-width: 25px;
    width: 25px;
}
.sender-why-item__content{
    margin-left: 20px;
}
.sender-why-item__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.sender-why-item__description{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
}
/*Tools*/
.sender-tools{
    padding: 124px 0 138px 0;
}
.sender-tools__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sender-tools-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    margin: 40px 40px 0 40px;
}
.sender-tools-item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
}
.sender-tools-item__title{
    height: 2.3em;
    max-height: 2.3em;
    margin-top: 34px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sender-tools-item__description{
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}
.sender-tools-item__btn{
    margin-top: auto;
}
/*Calc*/
.sender-calc{
    position: relative;
    padding: 125px 0 141px 0;
    color: #FFFFFF;
    background: transparent url('../img/sender/sender-calc-bg.jpg') center bottom no-repeat;
    background-size: cover;
}
.sender-calc:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.9);
}
.sender-calc__subtitle{
    margin: 27px 0 32px 0;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.sender-calc__inner{
    display: flex;
    flex-wrap: wrap;
}
.sender-calc-calendar{
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.sender-calc-calendar__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}
.sender-calc-calendar-arrow{
    cursor: pointer;
}
.sender-calc-calendar-month-year{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.12px;
    color: #EEECF1;
}
.sender-calc-calendar table{
    text-align: center;
}
.sender-calc-calendar th{
    padding: 0 4px 11px 4px;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #81859C;
}
.sender-calc-calendar td{
    padding: 5px 4px;
}
.sender-calc-calendar td div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
}
.sender-calc-calendar__selected-day{
    border: 2px solid #F7B916;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.sender-calc-calendar__weekend-day{
    color: #81859C;
}
.sender-calc-calendar td div:not(.sender-calc-calendar__weekend-day){
    cursor: pointer;
}
.sender-calc-b-title{
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 21px;
    color: #F7B916;
}
.sender-calc-date .sender-calc-b-title{
    margin-left: 24px;
}
.sender-calc-time{
    margin-left: 60px;
}
.sender-calc-time__box{
    display: flex;
    align-items: center;
}
.sender-calc-time__sign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid #F7B916;
    font-size: 14px;
    line-height: 22px;
}
.sender-calc-time__format{
    position: relative;
}
.sender-calc-time-toggle-label{
    display:block;
    position:relative;
    width:32px;
    height:32px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background-color: transparent;
    cursor:pointer;
}
.sender-calc-time-toggle-label:before{
    content:attr(data-off);
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top:0;
    left:0;
    height:32px;
    width:32px;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    border: 2px solid #F7B916;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.sender-calc-time-toggle:checked + .sender-calc-time-toggle-label:before{
    content:attr(data-on);
}
.sender-calc-time__current{
    display: flex;
    align-items: center;
    margin: 0 30px;
    font-size: 24px;
    line-height: 22px;
}
.sender-calc-time__hours,
.sender-calc-time__minetes{
    position: relative;
}
.sender-calc-time__separator{
    margin: 0 7px;
    font-size: 18px;
    line-height: 22px;
}
.sender-calc-time__time{
    position: absolute;
    top: 100%;
    width: 28px;
    margin-top: 11px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.sender-calc-time__time li{
    margin-bottom: 2px;
    cursor: pointer;
}
.sender-calc-time__time-hours{
    left: -59px;
}
.sender-calc-time__time-minutes{
    right: -59px;
}
.sender-calc-time__time_checked{
    color: #F7B916;
}
.sender-calc-form{
    width: 100%;
    max-width: 260px;
    margin-top: 65px;
    margin-left: auto;
}
.sender-calc-form__field{
    position: relative;
    margin-bottom: 32px;
}
.inp-sender-calc-form{
    width: 100%;
    height: 50px;
    padding: 14px 24px;
    background-color: #fff;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.inp-sender-calc-form::-webkit-input-placeholder {
    color: #1062AA;
}
.inp-sender-calc-form::-moz-placeholder {
    color: #1062AA;
}
.inp-sender-calc-form:-ms-input-placeholder {
    color: #1062AA;
}
.inp-sender-calc-form:-moz-placeholder {
    color: #1062AA;
}
.sender-calc-form__submit:hover{
    background-color: #81859C;
    color: #FFFFFF;
}
.sender-calc-form .inp-error-msg{
    margin: 10px 20px 0 20px;
}
.inp-sender-calc-form-correct{
    display: none;
    position: absolute;
    top: 50%;
    right: 14px;
    width: 23px;
    height: 23px;
    margin-top: -12px;
    background: transparent url('../img/general/inp-correct.svg') center center no-repeat;
    background-size: contain;
}
.inp-sender-calc-form:valid + .inp-sender-calc-form-correct{
    display: block;
}
.modal-sender-complete{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 570px;
    padding: 84px 107px 76px 107px;
    border: 1px solid #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 999;
}
.modal-sender-complete__close{
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
}
.modal-sender-complete__img img{
    margin: 0 auto;
}
.modal-sender-complete__title{
    margin-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.modal-sender-complete__text{
    margin-top: 28px;
    font-size: 18px;
    line-height: 28px;
}

/*Updates*/
.product-updates--sender{
    padding: 125px 0 23px 0;
}

@media all and (min-width: 320px) and (max-width: 767px){
    /*Subscribers*/
    .sender-sebscribers{
        margin-top: 45px;
        padding: 31px 0 0 0;
    }
    /*Templates*/
    .sender-templates{
        margin-top: 0;
        padding: 72px 0;
    }
    .sender-templates__slider{
        display: block;
        margin-left: -15px;
        margin-right: -15px;
    }
    .sender-templates__slider .slick-track {
        display: flex;
    }
    .sender-templates__slider .slick-track .slick-slide {
        display: flex;
        height: auto;
    }
    .sender-templates__btn{
        display: block;
        margin-top: 32px;
    }
    /*Inbox*/
    .sender-inbox{
        padding-bottom: 86px;
    }
    .sender-inbox-item{
        padding: 15px;
        border-left: none;
    }
    .sender-inbox .slick-dots{
        margin-top: 20px;
    }
    /*Why*/
    .sender-why{
        padding: 71px 0 79px 0;
    }
    .sender-why-item{
        margin: 25px 0 0 0;
    }
    .sender-why-item__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
    .sender-why-item__description{
        font-size: 16px;
        line-height: 26px;
    }
    /*Tools*/
    .sender-tools{
        padding: 71px 0 84px 0;
    }
    .sender-tools__items{
        margin-top: 25px;
    }
    .sender-tools-item{
        max-width: 100%;
        margin: 0 0 37px 0;
        text-align: center;
    }
    .sender-tools-item__title{
        height: auto;
        margin: 23px 0 17px 0;
    }
    .sender-tools-item__description{
        margin-bottom: 0;
    }
    /*Calc*/
    .sender-calc{
        padding: 32px 0 48px 0;
    }
    .sender-calc__subtitle{
        margin: 16px 0 17px 0;
        font-size: 18px;
        line-height: 28px;
    }
    .sender-calc-date{
        margin: 0 auto;
    }
    .sender-calc-date .sender-calc-b-title{
        margin-left: 0;
    }
    .sender-calc-b-title{
        text-align: center;
    }
    .sender-calc-time{
        margin: 25px auto 0 auto;
    }
    .sender-calc-time__hours:after,
    .sender-calc-time__minetes:after{
        content: "";
        position: absolute;
        top: 100%;
        width: 16px;
        height: 10px;
        left: 50%;
        margin-left: -8px;
        margin-top: 4px;
        background: transparent url('../img/sender/sender-time-mobile.svg') center center no-repeat;
        background-size: contain;
    }
    .sender-calc-time__time{
        display: none;
        left: 50%;
        right: auto;
        width: auto;
        margin-top: 20px;
        padding: 5px;
        background: #333333;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        z-index: 2;
    }
    .sender-calc-time__time li{
        padding: 5px;
    }
    .sender-calc-form{
        margin: 106px auto 0 auto;
    }
    .sender-calc-time__sign{
        width: 48px;
        height: 48px;
    }
    .sender-calc-time-toggle-label{
        display:block;
        position:relative;
        width:62px;
        height:32px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        border-radius: 16px;
        background:#81859C;
        cursor:pointer;
    }
    .sender-calc-time-toggle-label:before{
        content:attr(data-off);
        display: flex;
        align-items: center;
        justify-content: center;
        position:absolute;
        top:0;
        left:0;
        height:32px;
        width:32px;
        -webkit-border-radius:100%;
        -moz-border-radius:100%;
        border-radius:100%;
        border: 2px solid #F7B916;
        background-color: #fff;
        font-size: 14px;
        line-height: 22px;
        color: #1062AA;
        text-transform: uppercase;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        z-index:1;
    }
    .sender-calc-time-toggle:checked + .sender-calc-time-toggle-label:before{
        content:attr(data-on);
        left: 30px;
    }
    .modal-sender-complete{
        max-width: 90%;
        padding: 30px;
    }
    /*Updates*/
    .product-updates--sender{
        padding: 71px 0 0 0;
    }
}