/*Subscribers*/
.sender-sebscribers{
    margin-top: 104px;
    padding: 56px 0 153px 0;
    background-color: rgba(235, 240, 255, 0.5);
}
.sender-sebscribers__tree{
    margin-top: 76px;
}
/*Templates*/
.sender-templates{
    padding: 125px 0;
}
.sender-templates__subtitle{
    max-width: 750px;
    margin: 25px auto 38px auto;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #81859C;
}
.sender-templates__slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sender-templates__slider .slick-dots{
    margin-top: 20px;
}
.sender-templates-slide{
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 16px;
}
.sender-templates__btn{
    display: flex;
    justify-content: center;
    margin-top: 84px;
}
/*Inbox*/
.sender-inbox{
    padding-bottom: 140px;
}
.sender-inbox__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
}
.sender-inbox-item{
    width: 100%;
    max-width: 457px;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 20px;
    background-color: #EBF0FF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-left: 11px solid #1062AA;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    overflow: hidden;
}
.sender-inbox-item:hover{
    background-color: #1062AA;
    color: #FFFFFF;
}
.sender-inbox-item__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.sender-inbox-item__description{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
}
/*Why*/
.sender-why{
    padding: 126px 0 136px 0;
}
.sender-why__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 6px;
}
.sender-why-item{
    display: flex;
    width: 100%;
    max-width: 450px;
    margin: 30px 15px 0 15px;
}
.sender-why-item__icon{
    min-width: 25px;
    width: 25px;
}
.sender-why-item__content{
    margin-left: 20px;
}
.sender-why-item__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.sender-why-item__description{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
}
/*Tools*/
.sender-tools{
    padding: 124px 0 138px 0;
}
.sender-tools__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sender-tools-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
    margin: 40px 40px 0 40px;
}
.sender-tools-item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
}
.sender-tools-item__title{
    height: 2.3em;
    max-height: 2.3em;
    margin-top: 34px;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sender-tools-item__description{
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}
.sender-tools-item__btn{
    margin-top: auto;
}
/*Updates*/
.product-updates--sender{
    padding: 125px 0 23px 0;
}

@media all and (min-width: 320px) and (max-width: 767px){
    /*Subscribers*/
    .sender-sebscribers{
        margin-top: 45px;
        padding: 31px 0 0 0;
    }
    /*Templates*/
    .sender-templates{
        margin-top: 0;
        padding: 72px 0;
    }
    .sender-templates__slider{
        display: block;
        margin-left: -15px;
        margin-right: -15px;
    }
    .sender-templates__slider .slick-track {
        display: flex;
    }
    .sender-templates__slider .slick-track .slick-slide {
        display: flex;
        height: auto;
    }
    .sender-templates__btn{
        display: block;
        margin-top: 32px;
    }
    /*Inbox*/
    .sender-inbox{
        padding-bottom: 86px;
    }
    .sender-inbox-item{
        padding: 15px;
        border-left: none;
    }
    .sender-inbox .slick-dots{
        margin-top: 20px;
    }
    /*Why*/
    .sender-why{
        padding: 71px 0 79px 0;
    }
    .sender-why-item{
        margin: 25px 0 0 0;
    }
    .sender-why-item__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
    .sender-why-item__description{
        font-size: 16px;
        line-height: 26px;
    }
    /*Tools*/
    .sender-tools{
        padding: 71px 0 84px 0;
    }
    .sender-tools__items{
        margin-top: 25px;
    }
    .sender-tools-item{
        max-width: 100%;
        margin: 0 0 37px 0;
        text-align: center;
    }
    .sender-tools-item__title{
        height: auto;
        margin: 23px 0 17px 0;
    }
    .sender-tools-item__description{
        margin-bottom: 0;
    }
    /*Updates*/
    .product-updates--sender{
        padding: 71px 0 0 0;
    }
}