/*Reviews*/
.services-reviews--sms-main{
    padding: 115px 0 300px 0;
}
/*Features*/
.services-features--sms{
    margin-top: -120px;
}
/*Touch*/
.sms-touch{
    padding-top: 130px;
}
.sms-touch__title-after{
    margin-top: 14px;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.sms-touch__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.sms-touch__imgs{
    width: 100%;
    max-width: 460px;
}
.sms-touch__img img{
    margin: 0 auto;
}
.sms-touch__tabs{
    width: 100%;
    max-width: 394px;
}
.sms-touch-tab{
    padding-left: 20px;
}
.sms-touch-tab:not(:first-child){
    margin-top: 21px;
}
.sms-touch__btn{
    margin-top: 32px;
}
.sms-touch-tab__top{
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
    cursor: pointer;
}
.sms-touch-tab__arrow{
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -6px;
}
.sms-touch-tab_active .sms-touch-tab__arrow{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sms-touch-tab__content{
    display: none;
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
}
.sms-touch-tab_active .sms-touch-tab__content{
    display: block;
}
/*Icon blocks*/
.services-icon-blocks--sms{
    padding: 124px 0 134px 0;
}
/*Benefits*/
.sms-benefits{
    padding: 130px 0 260px 0;
}
.sms-benefits__box{
    width: 100%;
    max-width: 750px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
}
.sms-benefits-nav{
    display: flex;
    flex-wrap: wrap;
}
.sms-benefits-nav__item{
    position: relative;
    width: 100%;
    max-width: 33.3333336%;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-bottom: 2px solid #F7B916;
}
.sms-benefits-nav__item:hover,
.sms-benefits-nav__item_active{
    color: #333333;
    border-bottom: 2px solid #1062AA;
}
.sms-benefits-nav__item:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #1062AA;
}
.sms-benefits-nav__item:last-child:after{
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #1062AA;
}
.sms-benefits-tab{
    display: flex;
    flex-wrap: wrap;
}
.sms-benefits-tab__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 33.3333336%;
    margin-top: 40px;
    padding: 0 35px;
}
.sms-benefits-tab__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
}
.sms-benefits-tab__title{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
/*Steps*/
.services-steps--sms{
    padding-bottom: 188px;
}
/*PRECES*/
/*Top cta*/
.sms-top-cta{
    position: relative;
    padding-bottom: 72px;
    background-color: rgba(235, 240, 255, 0.5);
}
.sms-top-cta:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 20%;
    width: 0;
    height: 0;
    border-top: 60px solid rgba(235, 240, 255, 0.5);
    border-left: 63px solid transparent;
}
.sms-top-cta__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 49px;
}
.sms-top-cta__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
}
.sms-top-cta__text{
    width: 100%;
    max-width: 440px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.sms-top-cta__text span{
    color: #1062AA;
}
.sms-top-cta__btn{
    margin-left: auto;
}
/*Prices table*/
.sms-prices{
    padding: 125px 0;
}
.sms-prices__title-after{
    margin-top: 14px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.sms-prices__search{
    display: flex;
    justify-content: flex-end;
    margin: 35px 0 45px 0;
}
.sms-prices-search{
    position: relative;
}
.inp-sms-prices-search{
    width: 260px;
    height: 30px;
    padding: 0 50px 0 25px;
    border: 1px solid #81859C;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.inp-sms-prices-search::-webkit-input-placeholder {
    color: #81859C;
}
.inp-sms-prices-search::-moz-placeholder {
    color: #81859C;
}
.inp-sms-prices-search:-ms-input-placeholder {
    color: #81859C;
}
.inp-sms-prices-search:-moz-placeholder {
    color: #81859C;
}
.btn-sms-prices-search-submit,
.btn-sms-prices-search-reset{
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
}
.btn-sms-prices-search-reset{
    display: none;
}
.inp-sms-prices-search:valid ~ .btn-sms-prices-search-reset{
    display: block;
}
.inp-sms-prices-search:valid ~ .btn-sms-prices-search-submit{
    display: none;
}
.sms-prices__table{
    width: 100%;
    overflow-x: auto;
}
.sms-prices__table table{
    width: 100%;
}
.sms-prices__table thead{
    background-color: #6FC6AD;
}
.sms-prices__table tr{
    border-bottom: 1px solid #E5E5E5;
}
.sms-prices__table th,
.sms-prices__table td{
    padding: 12px 45px;
    font-size: 18px;
    line-height: 21px;
}
.sms-prices__table th{
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}
.sms-prices-results{
    margin-top: 34px;
    font-size: 18px;
    line-height: 28px;
    color: #81859C;
}
/*Pagination*/
.sms-prices-pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
}
.sms-prices-pagination__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 2px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.sms-prices-pagination__link:hover,
.sms-prices-pagination__link_current{
    background-color: #1062AA;
    color: #FFFFFF;
}
.sms-prices-pagination__link-prev{
    margin-right: 15px;
}
.sms-prices-pagination__link-next{
    margin-left: 15px;
}
.sms-prices-pagination__link svg{
    fill: #1062AA;
}
.sms-prices-pagination__link_disabled,
.sms-prices-pagination__link_disabled:hover{
    cursor: default;
    background-color: #fff;
}
.sms-prices-pagination__link_disabled svg{
    fill: #81859C;
}
.sms-prices-pagination__link:not(.sms-prices-pagination__link_disabled):hover svg{
    fill: #FFFFFF;
}
/*Prices benefits*/
.sms-prices-benefits{
    padding-bottom: 132px;
}
.sms-prices-benefits__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sms-prices-benefits__item{
    width: 100%;
    max-width: 260px;
    text-align: center;
}
.sms-prices-benefits__item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    margin: 0 auto;
}
.sms-prices-benefits__item-title{
    margin-top: 18px;
    font-size: 24px;
    line-height: 28px;
}
.sms-prices-benefits__item-text{
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}

@media all and (min-width: 320px) and (max-width: 767px){
    /*Features*/
    .services-features--sms{
        margin-top: 0;
    }
    /*Touch*/
    .sms-touch{
        padding-top: 60px;
    }
    .sms-touch__tabs{
        margin-top: 20px;
    }
    .sms-touch__btn{
        display: flex;
        justify-content: center;
    }
    /*Icon blocks*/
    .services-icon-blocks--sms{
        padding: 60px 0;
    }
    /*Benefits*/
    .sms-benefits{
        padding: 60px 0;
    }
    .sms-benefits-tab__item{
        max-width: 50%;
        padding: 0 15px;
    }
    /*Reviews*/
    .services-reviews--sms-main{
        padding: 60px 0 120px 0;
    }
    /*Steps*/
    .services-steps--sms{
        padding-bottom: 120px;
    }
    /*Cta top*/
    .sms-top-cta{
        padding-bottom: 60px;
    }
    .sms-top-cta__inner{
        justify-content: center;
        margin-top: 30px;
        text-align: center;
    }
    .sms-top-cta__text{
        margin: 30px 0;
    }
    .sms-top-cta__btn{
        margin-left: 0;
    }
    /*Prices*/
    .sms-prices{
        padding: 60px 0;
    }
    .sms-prices__search{
        justify-content: center;
    }
    /*Pagination*/
    .sms-prices-pagination__link-next{
        margin-left: 0;
    }
    .sms-prices-pagination__link-prev{
        margin-right: 0;
    }
    /*Prices benefits*/
    .sms-prices-benefits{
        padding-bottom: 60px;
    }
    .sms-prices-benefits__inner{
        justify-content: center;
    }
    .sms-prices-benefits__item:not(:last-child){
        margin-bottom: 30px;
    }

}