/*Reviews*/
.services-reviews--sms-main{
    padding: 115px 0 300px 0;
}
/*Features*/
.services-features--sms{
    margin-top: -120px;
}
/*Touch*/
.sms-touch{
    padding-top: 130px;
}
.sms-touch__title-after{
    margin-top: 14px;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.sms-touch__box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.sms-touch__imgs{
    width: 100%;
    max-width: 460px;
}
.sms-touch__img img{
    margin: 0 auto;
}
.sms-touch__tabs{
    width: 100%;
    max-width: 394px;
}
.sms-touch-tab{
    padding-left: 20px;
}
.sms-touch-tab:not(:first-child){
    margin-top: 21px;
}
.sms-touch__btn{
    margin-top: 32px;
}
.sms-touch-tab__top{
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
    cursor: pointer;
}
.sms-touch-tab__arrow{
    position: absolute;
    top: 50%;
    left: -20px;
    margin-top: -6px;
}
.sms-touch-tab_active .sms-touch-tab__arrow{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sms-touch-tab__content{
    display: none;
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
}
.sms-touch-tab_active .sms-touch-tab__content{
    display: block;
}
/*Icon blocks*/
.services-icon-blocks--sms{
    padding: 124px 0 134px 0;
}
/*Benefits*/
.sms-benefits{
    padding: 130px 0 260px 0;
}
.sms-benefits__box{
    width: 100%;
    max-width: 750px;
    margin-top: 49px;
    margin-left: auto;
    margin-right: auto;
}
.sms-benefits-nav{
    display: flex;
    flex-wrap: wrap;
}
.sms-benefits-nav__item{
    position: relative;
    width: 100%;
    max-width: 33.3333336%;
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border-bottom: 2px solid #F7B916;
}
.sms-benefits-nav__item:hover,
.sms-benefits-nav__item_active{
    color: #333333;
    border-bottom: 2px solid #1062AA;
}
.sms-benefits-nav__item:before{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #1062AA;
}
.sms-benefits-nav__item:last-child:after{
    content: "";
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 6px;
    height: 6px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #1062AA;
}
.sms-benefits-tab{
    display: flex;
    flex-wrap: wrap;
}
.sms-benefits-tab__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 33.3333336%;
    margin-top: 40px;
    padding: 0 35px;
}
.sms-benefits-tab__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
}
.sms-benefits-tab__title{
    margin-top: 5px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
/*Steps*/
.services-steps--sms{
    padding-bottom: 188px;
}
/*PRECES*/
/*Top cta*/
.sms-top-cta{
    position: relative;
    padding-bottom: 72px;
    background-color: rgba(235, 240, 255, 0.5);
}
.sms-top-cta:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 20%;
    width: 0;
    height: 0;
    border-top: 60px solid rgba(235, 240, 255, 0.5);
    border-left: 63px solid transparent;
}
.sms-top-cta__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 49px;
}
.sms-top-cta__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 67px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #fff;
}
.sms-top-cta__text{
    width: 100%;
    max-width: 440px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}
.sms-top-cta__text span{
    color: #1062AA;
}
.sms-top-cta__btn{
    margin-left: auto;
}
/*Prices table*/
.sms-prices{
    padding: 125px 0;
}
.sms-prices__title-after{
    margin-top: 14px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #81859C;
}
.sms-prices__search{
    display: flex;
    justify-content: flex-end;
    margin: 35px 0 45px 0;
}
.sms-prices-search{
    position: relative;
}
.inp-sms-prices-search{
    width: 260px;
    height: 30px;
    padding: 0 50px 0 25px;
    border: 1px solid #81859C;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.inp-sms-prices-search::-webkit-input-placeholder {
    color: #81859C;
}
.inp-sms-prices-search::-moz-placeholder {
    color: #81859C;
}
.inp-sms-prices-search:-ms-input-placeholder {
    color: #81859C;
}
.inp-sms-prices-search:-moz-placeholder {
    color: #81859C;
}
.btn-sms-prices-search-submit,
.btn-sms-prices-search-reset{
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
}
.btn-sms-prices-search-reset{
    display: none;
}
.inp-sms-prices-search:valid ~ .btn-sms-prices-search-reset{
    display: block;
}
.inp-sms-prices-search:valid ~ .btn-sms-prices-search-submit{
    display: none;
}
.sms-prices__table{
    width: 100%;
    overflow-x: auto;
}
.sms-prices__table table{
    width: 100%;
}
.sms-prices__table thead{
    background-color: #6FC6AD;
}
.sms-prices__table tr{
    border-bottom: 1px solid #E5E5E5;
}
.sms-prices__table th,
.sms-prices__table td{
    padding: 12px 45px;
    font-size: 18px;
    line-height: 21px;
}
.sms-prices__table th{
    font-weight: 700;
    color: #FFFFFF;
    text-align: left;
}
.sms-prices-results{
    margin-top: 34px;
    font-size: 18px;
    line-height: 28px;
    color: #81859C;
}
/*Pagination*/
.sms-prices-pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 41px;
}
.sms-prices-pagination__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 2px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1062AA;
}
.sms-prices-pagination__link:hover,
.sms-prices-pagination__link_current{
    background-color: #1062AA;
    color: #FFFFFF;
}
.sms-prices-pagination__link-prev{
    margin-right: 15px;
}
.sms-prices-pagination__link-next{
    margin-left: 15px;
}
.sms-prices-pagination__link svg{
    fill: #1062AA;
}
.sms-prices-pagination__link_disabled,
.sms-prices-pagination__link_disabled:hover{
    cursor: default;
    background-color: #fff;
}
.sms-prices-pagination__link_disabled svg{
    fill: #81859C;
}
.sms-prices-pagination__link:not(.sms-prices-pagination__link_disabled):hover svg{
    fill: #FFFFFF;
}
/*Prices benefits*/
.sms-prices-benefits{
    padding-bottom: 132px;
}
.sms-prices-benefits__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sms-prices-benefits__item{
    width: 100%;
    max-width: 260px;
    text-align: center;
}
.sms-prices-benefits__item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    margin: 0 auto;
}
.sms-prices-benefits__item-title{
    font-weight: 700;
    margin-top: 18px;
    font-size: 24px;
    line-height: 28px;
}
.sms-prices-benefits__item-text{
    margin-top: 10px;
    font-size: 16px;
    line-height: 26px;
}
/*API*/
/*Top*/
.sms-api-top{
    margin-top: 36px;
}
.sms-api-top__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sms-api-top__col{
    width: 50%;
}
.sms-api-top__col img{
    margin-left: auto;
}
.sms-api-top__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
.sms-api-top__description{
    margin-top: 27px;
    font-size: 16px;
    line-height: 26px;
}
.sms-api-top__btns{
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
}
.sms-api-top__btns .link-w-arrow{
    margin-left: 95px;
}
/*Code*/
.sms-api-code{
    padding-top: 134px;
}
.sms-api-code__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 36px;
}
.sms-api-code-examples{
    width: 100%;
    max-width: 750px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.sms-api-code-examples__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EBF0FF;
}
.sms-api-code-examples__nav-item{
    height: 32px;
    margin: 0 35px;
    padding-top: 4px;
    border-bottom: 2px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1062AA;
}
.sms-api-code-examples__nav-item:hover,
.sms-api-code-examples__nav-item_active{
    color: #333333;
    border-bottom: 2px solid #00ADEE;
}
.sms-api-code-examples__tab{
    display: none;
}
.sms-api-code-examples__tab_active{
    display: block;
}
.hljs{
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.hljs-ln-numbers {
    text-align: center;
    border-right: 1px solid #F7B916;
    vertical-align: top;
}
.hljs-ln-n{
    padding-right: 12px;
}
.hljs-ln-code {
    padding-left: 20px!important;
}
.sms-api-code-docs{
    width: 100%;
    max-width: 324px;
}
.sms-api-code-doc-item{
    display: flex;
}
.sms-api-code-doc-item:not(:last-child){
    margin-bottom: 40px;
}
.sms-api-code-doc-item__img{
    max-width: 30px;
    min-width: 30px;
    margin-top: 4px;
    margin-right: 14px;
}
.sms-api-code-doc-item__title{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}
.sms-api-code-doc-item__text{
    margin-top: 3px;
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 24px;
}
.sms-api-code-doc-item__link{
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    color: #00ADEE;
}
.sms-api-code-doc-item__link span{
    margin-right: 5px;
    text-decoration-line: underline;
}
.sms-api-code__links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sms-api-code__link{
    margin-top: 32px;
    padding: 15px 24px 13px 24px;
    border: 1px solid #333333;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.sms-api-code__link:hover{
    background-color: #333333;
    color: #FFFFFF;
}
/*Reviews*/
.services-reviews--sms-api{
    padding: 115px 0 70px 0;
}
/*How works*/
.sms-api-how{
    padding: 131px 0 119px 0;
}
.sms-api-how__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}
.sms-api-how__item-col{
    width: 100%;
    max-width: 430px;
    margin: 0 30px;
}
.sms-api-how-item{
    position: relative;
    margin-top: 22px;
    padding-left: 35px;
    font-size: 16px;
    line-height: 26px;
}
.sms-api-how-item__bullet{
    position: absolute;
    top: 2px;
    left: 0;
    width: 22px;
    height: 22px;
    background: transparent url('../img/sms/sms-api-how-bullet.svg') center center no-repeat;
    background-size: contain;
}
/*SOFTWARE*/
/*Top*/
.sms-software-top__title{
    max-width: 460px;
    font-size: 36px;
    line-height: 44px;
}
.sms-software-top__title span{
    color: #1062AA;
}
/*Customers*/
.services-customers--sms-software{
    padding-top: 130px;
}
/*Steps*/
.services-steps-item-tooltip{
    position: relative;
    display: inline-block;
}
.services-steps-item-tooltip__icon{
    position: absolute;
    top: -12px;
    right: -18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: #EBF0FF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: help;
}
.services-steps-item-tooltip__content{
    display: none;
    position: absolute;
    top: 100%;
    right: -10px;
    width: 340px;
    margin-top: 15px;
    padding: 15px;
    font-size: 12px;
    line-height: 22px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #EBF0FF;
    box-shadow: -4px 4px 20px rgba(16, 98, 170, 0.2);
}
.services-steps-item-tooltip__content:before{
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 17px;
}
.services-steps-item-tooltip__content:after{
    content: "";
    position: absolute;
    top: -9px;
    right: 20px;
    width: 0;
    height: 0;
    border-bottom: 9px solid #EBF0FF;
    border-left: 11px solid transparent;
}
.services-steps-item-tooltip__icon:hover .services-steps-item-tooltip__content{
    display: block;
}
.services-steps-item-tooltip__content li{
    margin: 5px 0;
    padding-left: 6px;
}
.services-steps-item-tooltip__content li:before{
    top: 11px;
    width: 2px;
    height: 2px;
}
/*Available*/
.sms-software-available{
    padding-bottom: 140px;
}
.sms-software-available__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sms-software-available-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 555px;
    margin-top: 35px;
    padding: 69px 80px 84px 80px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    text-align: center;
}
.sms-software-available-item--beginner{
    background-color: #6FC6AD;
}
.sms-software-available-item--pro{
    background-color: #1062AA;
}
.sms-software-available-item__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.sms-software-available-item__text{
    margin-top: 13px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
}
.sms-software-available-item--pro .sms-software-available-item__text{
    color: #ffffff;
}
.sms-software-available-item img{
    margin-top: auto;
}
.sms-software-available-item__btn{
    margin-top: auto;
}
/*TEXT*/
/*Text 1*/
.sms-text{
    padding: 69px 0 132px 0;
    font-size: 16px;
    line-height: 26px;
    overflow-x: hidden;
}
.sms-text h4{
    font-family: 'Roboto', sans-serif;
    line-height: 28px;
}
.sms-text ul li{
    padding-left: 13px;
}
.sms-text ul li:not(:last-child){
    margin-bottom: 9px;
}
.sms-text ul li:before{
    top: 11px;
    width: 4px;
    height: 4px;
}
.sms-text .pretty-ol{
    counter-reset: pretty-ol;
}
.sms-text .pretty-ol li,
.sms-text .pretty-ul li,
.sms-text .pretty-ul-inline li{
    padding-left: 37px;
}
.sms-text .pretty-ol li:not(:last-child),
.sms-text .pretty-ul li:not(:last-child){
    margin-bottom: 14px;
}
.sms-text .pretty-ol li:before,
.sms-text .pretty-ul li:before,
.sms-text .pretty-ul-inline li:before{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sms-text .pretty-ol li:before{
    counter-increment: pretty-ol;
    content: counter(pretty-ol);
    width: 25px;
    height: 25px;
    background-color: #6FC6AD;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.sms-text .pretty-ul-inline li{
    display: inline-block;
    margin-right: 40px;
}
.sms-text .pretty-ul li:before,
.sms-text .pretty-ul-inline li:before{
    top: 2px;
    width: 22px;
    height: 22px;
    background: transparent url('../img/general/pretty-ul-bullet.svg') center center no-repeat;
    border: 2px solid #6FC6AD;
}

@media all and (min-width: 320px) and (max-width: 767px){
    /*Features*/
    .services-features--sms{
        margin-top: 0;
    }
    /*Touch*/
    .sms-touch{
        padding-top: 60px;
    }
    .sms-touch__tabs{
        margin-top: 20px;
    }
    .sms-touch__btn{
        display: flex;
        justify-content: center;
    }
    /*Icon blocks*/
    .services-icon-blocks--sms{
        padding: 60px 0;
    }
    /*Benefits*/
    .sms-benefits{
        padding: 60px 0;
    }
    .sms-benefits-tab__item{
        max-width: 50%;
        padding: 0 15px;
    }
    /*Reviews*/
    .services-reviews--sms-main{
        padding: 60px 0 120px 0;
    }
    /*Steps*/
    .services-steps--sms{
        padding-bottom: 120px;
    }
    /*Cta top*/
    .sms-top-cta{
        padding-bottom: 60px;
    }
    .sms-top-cta__inner{
        justify-content: center;
        margin-top: 30px;
        text-align: center;
    }
    .sms-top-cta__text{
        margin: 30px 0;
    }
    .sms-top-cta__btn{
        margin-left: 0;
    }
    /*Prices*/
    .sms-prices{
        padding: 60px 0;
    }
    .sms-prices__search{
        justify-content: center;
    }
    /*Pagination*/
    .sms-prices-pagination__link-next{
        margin-left: 0;
    }
    .sms-prices-pagination__link-prev{
        margin-right: 0;
    }
    /*Prices benefits*/
    .sms-prices-benefits{
        padding-bottom: 60px;
    }
    .sms-prices-benefits__inner{
        justify-content: center;
    }
    .sms-prices-benefits__item:not(:last-child){
        margin-bottom: 30px;
    }
    /*API*/
    /*Top*/
    .sms-api-top__col{
        width: 100%;
    }
    .sms-api-top__col:nth-child(1){
        order: 2;
    }
    .sms-api-top__col:nth-child(2){
        order: 1;
    }
    .sms-api-top__col img{
        margin: 0 auto;
    }
    .sms-api-top__btns{
        flex-direction: column-reverse;
        align-items: center;
    }
    .sms-api-top__btns .link-w-arrow{
        margin-left: 0;
        margin-bottom: 20px;
    }
    /*Code*/
    .sms-api-code-examples{
        margin-bottom: 40px;
    }
    .sms-api-code-examples__nav-item {
        width: 100%;
        height: 40px;
        line-height: 34px;
        text-align: center;
    }
    .sms-api-code__links{
        justify-content: center;
    }
    /*Reviews*/
    .services-reviews--sms-api{
        padding: 60px 0;
    }
    /*How works*/
    .sms-api-how{
        padding: 60px 0;
    }
    .sms-api-how__item-col{
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    /*SOFTWARE*/
    /*Available*/
    .sms-software-available{
        padding-bottom: 60px;
    }
    .sms-software-available-item{
        padding: 30px;
    }
    .sms-software-available-item__btn{
        margin-top: 24px;
    }

}