.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 100vh;
}
.container,
.container-md{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
}
.container-md{
    max-width: 975px;
}
.color-discount{
    color: #EF5237 !important;
}
.clear:after,
.clear:before{
    content: "";
    display: table;
    clear: both;
}
.slick-slide{
    outline: none;
}
.slick-dots{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
}
.slick-dots button{
    height: 8px;
    width: 8px;
    margin: 0 6px;
    background-color: rgba(129, 133, 156, 0.45);
    font-size: 0;
    line-height: 0;
    border-radius: 100%;
    cursor: pointer;
}
.slick-dots .slick-active button{
    background-color: rgba(129, 133, 156, 1);
}