.container,
.container-md{
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
}
.container-md{
    max-width: 975px;
}
.color-discount{
    color: #EF5237 !important;
}
.clear:after,
.clear:before{
    content: "";
    display: table;
    clear: both;
}
.slick-slide{
    outline: none;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 69px;
}
.slick-dots button{
    height: 8px;
    width: 8px;
    margin: 0 6px;
    background-color: rgba(129, 133, 156, 0.45);
    font-size: 0;
    line-height: 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
}
.slick-dots .slick-active button{
    background-color: rgba(129, 133, 156, 1);
}