.wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    min-height: 100vh;
}
.container,
.container-md{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.container{
    max-width: 1170px;
}
.container-md{
    max-width: 975px;
}
.color-discount{
    color: #EF5237 !important;
}
.clear:after,
.clear:before{
    content: "";
    display: table;
    clear: both;
}
.ovh{
    overflow: hidden;
}
.slick-slide{
    outline: none;
}
.slick-dots{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
}
.slick-dots button{
    height: 8px;
    width: 8px;
    margin: 0 6px;
    background-color: rgba(129, 133, 156, 0.45);
    font-size: 0;
    line-height: 0;
    border-radius: 100%;
    cursor: pointer;
}
.slick-dots .slick-active button{
    background-color: rgba(129, 133, 156, 1);
}
.slider-prev,
.slider-next{
    position: absolute;
    margin-top: -12px;
    cursor: pointer;
    z-index: 99;
}
.slider-prev{
    left: -64px;
}
.slider-next{
    right: -64px;
}
.slider-prev svg,
.slider-next svg{
    fill: #00ADEE;
}
.slick-disabled svg{
    fill: #81859C;
}
/*progress*/
.progress{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #1062AA;
    z-index: 99;
}
.progress__bar{
    width: 0;
    height: 100%;
    background-color: #F7B916;
}
/*header*/
.header--transparent{
    background-color: transparent;
}
.header--home{
    background-color: #1062AA;
}
.navigation-submenu-mobile-back{
    display: none;
    align-items: center;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
    color: #1062AA;
}
.navigation-submenu-mobile-back:before{
    content: "";
    width: 16px;
    height: 12px;
    background: transparent url('../img/general/header/header-arrow.svg') center center no-repeat;
    background-size: contain;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.header-mobile-menu-toggle{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #1062AA;
    z-index: 12;
}
.header-mobile-menu-toggle span{
    position: absolute;
    left: 10px;
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.header-mobile-menu-toggle span:nth-child(1){
    top: 14px;
}
.header-mobile-menu-toggle span:nth-child(2){
    top: 19px;
}
.header-mobile-menu-toggle span:nth-child(3){
    top: 24px;
}
.header__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header__logo{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header__logo svg{
    fill: #1062AA;
}
.header--transparent .header__logo svg{
    fill: #ffffff;
}
.navigation{
    margin-right: auto;
}
.navigation__list{
    display: flex;
}
.navigation__item{
    position: static;
}
.navigation__item:not(:last-child){
    margin-right: 22px;
}
.header__link{
    display: flex;
    align-items: center;
    padding: 40px 0;
    font-size: 16px;
    line-height: 19px;
    color: #81859C;
    cursor: pointer;
}
.has-dropdown:hover .header__link,
.header__link:hover{
    color: #1062AA;
}
.header--transparent .header__link{
    color: #FFFFFF;
}
.header--transparent .has-dropdown:hover .header__link,
.header--transparent .header__link:hover{
    color: #F7B916;
}
.header__link-arrow{
    width: 8px;
    height: 6px;
    margin-top: 2px;
    margin-left: 6px;
    background: transparent url('../img/general/header/header-arrow.svg') center center no-repeat;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.navigation-submenu{
    display: none;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 100%;
    left: 0;
    width: 100%;
    margin-top: -1px;
    border-top: 1px solid #EBF0FF;
    padding: 32px 15px 48px 15px;
    background-color: #fff;
    z-index: 10;
}
.navigation-submenu__box-title{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 38px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #81859C;
}
.navigation-submenu__box-title img{
    margin-left: 8px;
}
.navigation-submenu__list-item{
    margin-top: 20px;
}
.navigation-submenu__link{
    position: relative;
    display: inline-block;
    padding: 7px 16px;
    border: 1px solid #1062AA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.navigation-submenu__link:hover{
    background-color: #1062AA;
    color: #ffffff;
}
.navigation-submenu__link-description{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 172px;
    margin-left: 20px;
    padding: 6px 18px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #EBF0FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #1062AA;
}
.navigation-submenu__box:last-child .navigation-submenu__link-description{
    left: auto;
    right: 100%;
    margin-left: 0;
    margin-right: 20px;
}
.header-btn{
    display: flex;
    align-items: center;
    height: 30px;
    margin-left: 22px;
    padding: 0 22px;
    background-color: #1062AA;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-size: 16px;
    line-height: 19px;
    color: #E3F2FF;
}
.header--transparent .header-btn{
    color: #1062AA;
    background-color: #fff;
}
.header__search{
    margin-right: 22px;
}
.header-lang{
    position: relative;
    margin-left: 22px;
}
.header-lang__switch{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header-lang__switch-icon svg{
    fill: #81859C;
    stroke: #ffffff;
}
.header--transparent .header-lang__switch-icon svg{
    fill: #1062AA;
}
.header-lang__switch-text{
    margin: 0 6px;
    font-size: 14px;
    line-height: 30px;
    color: #81859C;
}
.header--transparent .header-lang__switch-text{
    color: #ffffff;
}
.header-lang__switch-arrow{
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}
.header-lang__switch_active .header-lang__switch-arrow{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-lang__select{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100px;
    margin-top: 5px;
    padding: 2px 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #E6E7EB;
    z-index: 11;
}
.header-lang__item{
    padding: 4px 12px;
}
.header-lang__link{
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.header-lang__link_current,
.header-lang__link:hover{
    color: #81859C;
    text-decoration: none;
}
/*footer*/
.footer{
    margin-top: auto;
    padding: 45px 0 32px 0;
    background-color: #1062AA;
}
.footer__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.footer__row:first-child{
    padding-bottom: 46px;
    border-bottom: 1px solid #F7B916;
}
.footer__row:last-child{
    padding-top: 37px;
}
.footer__col-l{
    width: 100%;
    max-width: 260px;
    margin-right: auto;
}
.footer__col{
    width: 100%;
    max-width: 165px;
    margin-left: 11%;
}
.footer-logo{
    display: flex;
}
.footer-contacts{
    margin-top: 45px;
    margin-bottom: 24px;
}
.footer-contacts__item{
    margin-bottom: 17px;
}
.footer-contacts__title{
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #E5E5E5;
}
.footer-contacts__tel,
.footer-contacts__tel:hover{
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    text-decoration: none;
    color: #F7B916;
}
.footer-socials{
    display: flex;
}
.footer-socials__item{
    width: 34px;
    margin-right: 15px;
}
.footer-socials__item:last-child{
    margin-right: 0;
}
.footer-socials__item svg{
    fill: #F7B916;
}
.footer-socials__item:hover svg{
    fill: #ffffff;
}
.footer-menu{
    margin-top: 34px;
}
.footer-menu__top{
    display: flex;
    justify-content: space-between;
}
.footer-menu__arrow{
    display: none;
}
.footer-menu__top-link{
    font-size: 18px;
    line-height: 21px;
    color: #F2F2F2;
}
.footer-menu__list{
    margin-top: 20px;
}
.footer-menu__list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #E5E5E5;
}
.footer-copyright{
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
}
.footer-policy-link{
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #E5E5E5;
}
.footer a:not(.footer-contacts__tel):hover{
    text-decoration: underline;
}
/*breadcrumbs*/
.breadcrumbs__list{
    display: flex;
    flex-wrap: wrap;
}
.breadcrumbs__list-item{
    position: relative;
    margin-right: 12px;
    padding-right: 17px;
    font-size: 14px;
    line-height: 16px;
}
.breadcrumbs__list-item:not(:last-child):after{
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 5px;
    height: 8px;
    background: transparent url('../img/general/breadcrumbs-arrow.svg') center center no-repeat;
}
/*video*/
.video{
    width: 100%;
    max-width: 807px;
    margin: 0 auto;
    overflow: hidden;
}
.video-item{
    position: relative;
    padding-top: 56.25%;
    background-repeat: no-repeat;
    background-size: cover;
}
.video-item iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*pagination*/
.pagination{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pagination__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 2px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 1em;
    color: #1062AA;
}
.pagination__link:hover,
.pagination__link_current{
    background-color: #1062AA;
    color: #FFFFFF;
}
.pagination__link-prev{
    margin-right: 15px;
}
.pagination__link-next{
    margin-left: 15px;
}
.pagination__link svg{
    fill: #1062AA;
}
.pagination__link_disabled,
.pagination__link_disabled:hover{
    cursor: default;
    background-color: #fff;
}
.pagination__link_disabled svg{
    fill: #81859C;
}
.pagination__link:not(.pagination__link_disabled):hover svg{
    fill: #FFFFFF;
}
/*small search*/
.small-search{
    width: 100%;
    max-width: 260px;
    position: relative;
}
.inp-small-search{
    width: 100%;
    height: 30px;
    padding: 0 50px 0 25px;
    border: 1px solid #81859C;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
}
.inp-small-search::-webkit-input-placeholder {
    color: #81859C;
}
.inp-small-search::-moz-placeholder {
    color: #81859C;
}
.inp-small-search:-ms-input-placeholder {
    color: #81859C;
}
.inp-small-search:-moz-placeholder {
    color: #81859C;
}
.btn-small-search-submit,
.btn-small-search-reset{
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
}
.btn-small-search-reset{
    display: none;
}
.inp-small-search:valid ~ .btn-small-search-reset{
    display: block;
}
.inp-small-search:valid ~ .btn-small-search-submit{
    display: none;
}
/*cta blue*/
.cta-blue{
    padding: 104px 0;
    background-color: #F5F7FF;
}
.cta-blue__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cta-blue__img,
.cta-blue__content{
    width: 100%;
    max-width: 434px;
}
.cta-blue h2{
    text-align: left;
}
.cta-blue__form{
    position: relative;
    width: 100%;
    max-width: 360px;
    margin-top: 20px;
}
.inp-cta-blue{
    padding: 0 150px 0 30px;
    border: 1px solid #81859C;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    color: #81859C;
}
.inp-cta-blue::-webkit-input-placeholder {
    color: #81859C;
}
.inp-cta-blue::-moz-placeholder {
    color: #81859C;
}
.inp-cta-blue:-ms-input-placeholder {
    color: #81859C;
}
.inp-cta-blue:-moz-placeholder {
    color: #81859C;
}
.btn-cta-blue{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 127px;
    height: 44px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #1062AA;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}
.btn-cta-blue:hover{
    background-color: #F7B916;
}
.cta-blue__text{
    margin: 25px 0 37px 0;
    font-size: 18px;
    line-height: 28px;
}
/*faqs*/
.faqs{
    padding: 102px 0 132px 0;
}
.faqs__list{
    max-width: 808px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
}
.faq{
    padding-left: 30px;
    padding-right: 30px;
}
.faq:not(:last-child){
    margin-bottom: 38px;
    padding-bottom: 38px;
    border-bottom: 1px solid #1062AA;
}
.faq__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.faq__arrow{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq_opened .faq__arrow{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.faq__title{
    font-size: 24px;
    line-height: 24px;
    color: #1062AA;
}
.faq__content{
    display: none;
    margin-top: 30px;
    padding: 0 0 0 15px;
    font-size: 18px;
    line-height: 28px;
}
.faq_opened .faq__content{
    display: block;
}
.faq ul li{
    padding-left: 12px;
}
.faq ul li:before{
    width: 4px;
    height: 4px;
    margin-top: 12px;
}
.faq ol{
    counter-reset: section;
}
.faq ol li:before{
    counter-increment: section;
    content: counter(section) ". ";
    position: static;
}


@media all and (min-width: 768px){
    /*header*/
    .has-dropdown:hover .navigation-submenu{
        display: flex;
    }
    .has-dropdown:hover .header__link-arrow{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .navigation-submenu__link:hover .navigation-submenu__link-description{
        display: block;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    /*header*/
    .header{
        padding-top: 15px;
    }

    /*footer*/
    .footer__col-l,
    .footer__col{
        max-width: 25%;
        margin: 0;
    }
    .footer__col{
        padding-left: 15px;
    }
    /*reviews*/
    .reviews-list .slider-arrow--prev{
        left: 0;
    }
    .reviews-list .slider-arrow--next{
        right: 0;
    }
    .reviews-slider{
        max-width: 90%;
        margin: 0 auto;
    }
    /*slider*/
    .slider-arrow{
        display: none;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
    /*header*/
    .header-logo,
    .header-top{
        width: 100%;
    }
    /*bottom cta*/
    .bottom-cta{
        padding: 70px 0;
    }
    .bottom-cta__inner{
        justify-content: center;
        text-align: center;
    }
    .bottom-cta__img{
        margin-bottom: 30px;
    }
}
@media all and (min-width: 320px) and (max-width: 767px){
    /*general*/
    body{
        padding-top: 70px;
    }
    .hide-mobile{
        display: none;
    }
    /*header*/
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #fff;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    .navigation-submenu-mobile-back{
        display: inline-flex;
    }
    .header-mobile-menu-toggle{
        display: block;
    }
    .header-navigation_opened .header-mobile-menu-toggle span:nth-child(1){
        top: 19px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    .header-navigation_opened .header-mobile-menu-toggle span:nth-child(2){
        opacity: 0;
        left: -60px;
    }
    .header-navigation_opened .header-mobile-menu-toggle span:nth-child(3){
        top: 19px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    .header__logo{
        position: static;
        margin-left: 20px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
    .header__logo svg{
        fill: #1062AA !important;
    }
    .header__search{
        margin-left: auto;
        margin-right: 0;
    }
    .header__contact{
        display: none;
    }
    .header-btn{
        padding: 0;
        font-size: 0;
        line-height: 0;
        background: transparent url('../img/general/header/header-login-mobile.svg') center center no-repeat;
    }
    .header-lang,
    .header-btn{
        position: relative;
        width: 40px;
        height: 40px;
        margin-left: 20px;
        border: 2px solid #1062AA;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        z-index: 11;
    }
    .header-lang__switch{
        justify-content: center;
    }
    .header-lang__switch-icon{
        display: none;
    }
    .header-lang__switch-arrow{
        display: none;
    }
    .header-lang__switch-text{
        margin: 0;
        line-height: 36px;
        color: #1062AA !important;
    }
    .navigation{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        margin-top: 0;
        background-color: #fff;
        -webkit-transition: left 0.25s;
        -moz-transition: left 0.25s;
        -ms-transition: left 0.25s;
        -o-transition: left 0.25s;
        transition: left 0.25s;
        z-index: 10;
    }
    .header-navigation_opened .navigation{
        left: 0;
    }
    .navigation__list{
        position: absolute;
        flex-direction: column;
        top: 70px;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0 15px;
        overflow-y: auto;
    }
    .navigation__item{
        padding: 15px 0;
    }
    .navigation__item:not(:last-child){
        margin-right: 0;
        border-bottom: 1px solid #81859C;
    }
    .header__link{
        justify-content: space-between;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        line-height: 44px;
        color: #81859C !important;
    }
    .header__link-arrow{
        width: 24px;
        height: 18px;
        background-size: contain;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .navigation-submenu{
        display: block;
        top: 70px;
        left: 100%;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        padding: 15px;
        overflow-y: auto;
        -webkit-transition: left 0.25s;
        -moz-transition: left 0.25s;
        -ms-transition: left 0.25s;
        -o-transition: left 0.25s;
        transition: left 0.25s;
    }
    .navigation-submenu_opened{
        top: 0;
        left: 0;
        z-index: 999;
    }
    .navigation-submenu__box:not(:last-child){
        margin-bottom: 20px;
    }
    /*footer*/
    .footer__col-l,
    .footer__col{
        max-width: 100%;
        margin: 0;
    }
    .footer-logo,
    .footer-socials{
        justify-content: center;
    }
    .footer-socials{
        margin-bottom: 15px;
    }
    .footer-contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 24px;
    }
    .footer-contacts__item{
        margin-bottom: 0;
        text-align: center;
    }
    .footer-menu{
        margin-top: 15px;
    }
    .footer-menu__list{
        display: none;
        margin-top: 10px;
    }
    .footer-menu__arrow{
        display: block;
        cursor: pointer;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
    }
    .footer-menu__arrow_opened{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .footer-policy-link{
        margin-top: 10px;
    }
    /*breadcrumbs*/
    .breadcrumbs{
        padding: 30px 0;
    }
    .breadcrumbs__list-item {
        margin-right: 7px;
        padding-right: 12px;
    }
    /*pagination*/
    .pagination__link-next{
        margin-left: 0;
    }
    .pagination__link-prev{
        margin-right: 0;
    }
    /*cta*/
    .cta-blue{
        padding: 60px 0;
        text-align: center;
    }
    .cta-blue h2{
        text-align: center;
    }
    .cta-blue__img{
        margin-bottom: 30px;
    }
    .cta-blue__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*faqs*/
    .faqs{
        padding: 71px 0 78px 0;
    }
    .faqs__list{
        margin-top: 25px;
    }
    .faq{
        padding-left: 0;
        padding-right: 0;
    }
    .faq:not(:last-child){
        margin-bottom: 23px;
        padding-bottom: 24px;
    }
    .faq__top{
        align-items: flex-start;
    }
    .faq__arrow{
        min-width: 16px;
        margin-top: 9px;
        margin-left: 5px;
    }
    .faq__title{
        font-size: 24px;
        line-height: 28px;
    }
    .faq__content{
        margin-top: 13px;
        padding: 0;
    }
    .sw-p-download-form{
        display: block;
    }
}
